[2016-11-02 14:47] meeroslav opened #2 "Non-translatable links not rebuilt after language switch"
**Steps to reproduce**
1. Use a link with relative path without text to translate e.g. '../'
2. Switch language (replace full url)

**Current behavior**
Directive RouterLinkWithHref doesn't kick in and url remains set to previous language.

**Expected behavior**
Directive RouterLinkWithHref should trigger and url should be rebuilt.

[2016-11-07 09:37] meeroslav opened #3 "Lazy loaded routes not translated"
**Steps to reproduce**
Navigate to lazy loaded module.
Notice that deep links have been translated.
Click on one of the deep links

**Current behavior**
Router cannot find translated sub route.

**Expected behavior**
Router should successfully navigate user to lazy loaded sub route.

[2016-11-17 08:45] ht89 opened #4 "the current version is not compatible with ng2-translate 4.0.0"
Hello, would you please fix the problem? Because if I used ng2-translate 3.0.0, it would contain bugs.  Thank you a lot.

[2016-11-17 10:27] meeroslav commented on #4
Will get to it as soon as possible. Thank you for the information.

[2016-11-17 19:58] Chuvisco88 commented on #3
By lazy loaded module you mean routes which are added by .forChildren to the Router?

[2016-11-19 14:07] meeroslav commented on #3
@Chuvisco88 Not necessarily. Entire containing module has to be lazy loaded:
[code]
and of course, its routes are therefore loaded as child routes:
[code]

[2016-11-19 18:52] #2 closed

[2016-11-19 18:56] meeroslav commented on #4
Solved by 07978e59dc3923c5dbe81f58cb7d2e2924510cbc

[2016-11-19 18:56] #4 closed

[2016-11-19 22:12] meeroslav opened #5 "Child routes not translated"
**Steps to reproduce**
Add child routes via `RouterModule.forChild(routes)`.

**Current behavior**
Child routes are not translated.

**Expected behavior**
Child routes should be translated.

[2016-11-20 12:34] #5 closed

[2016-11-21 07:03] Chuvisco88 opened #6 "[Question] How to get current route in different locale"
Title says it already.
Is there a way to link to the same page in a different locale for direct language switching?

[2016-11-21 07:11] meeroslav commented on #6
Please check the https://github.com/meeroslav/localize-router-example.
First two buttons for switching language do exactly that.
In markup you can do something link:
[code]
And then in your class:
[code]

[2016-11-21 08:44] ht89 commented on #4
Thank you so much +1:

[2016-11-21 09:33] meeroslav commented on #4
You're welcome :)

[2016-11-22 08:36] koodikindral opened #7 "UNMET PEER DEPENDENCY @angular"
Could you please upgrade the angular version?
[code]

[2016-11-22 09:39] meeroslav commented on #6
@Chuvisco88 Please close this issue if you question has been answered.

[2016-11-22 09:43] meeroslav commented on #7
@koodikindral Based on this log, it's you who should upgrade the angular version in you project. `LocalizeRouter` uses angular version 2.2.0 and ng2-translate 4.0.0.

As you can see in `package.json`:
[code]

Please let me know if it's conflicting with `ng2-select` that you're using.

[2016-11-22 09:47] meeroslav commented on #7
@koodikindral Sometimes npm has issues with upgrading to latest versions so try one of these:
- run `npm install` until all UNMET PEER DEPENDENCY errors are gone or
- manually delete conflicting package folders in node_modules and run `npm install` once

[2016-11-22 10:17] koodikindral commented on #7
Thanks, got it working!
Another question regarding the implementation: Is it possible to get it working also with angular-seed: https://github.com/mgechev/angular-seed

It has somewhat different routing (each component has it's own routing module).

[2016-11-22 10:35] Chuvisco88 commented on #6
Thanks for the info, the changeLanguage works pretty well.
But another problem arises: When having a button (or a link), how can I mark as active?
I thought of using a function isActive(lang: string) which checks against the localize.parser.currentLang but currently it is always marked as active

[2016-11-22 10:47] Chuvisco88 commented on #6
Yes, it worked!. Thank you very much

[2016-11-22 10:47] #6 closed

[2016-11-22 11:01] meeroslav commented on #7
Hi, it's possible as long as it's not lazy loaded (see #3).
Angular-seed uses so called child routes. It's used similarly as `RouterModule` in child modules:

[code]

I will update documentation and example project as soon as possible.

[2016-11-22 12:31] koodikindral commented on #7
Seems better, but:

[code]
->
[code]

[2016-11-22 18:18] meeroslav commented on #7
Can you check in full log in which exact file does this happen or provide a plunkr example?
You can check [https://github.com/meeroslav/localize-router-example](https://github.com/meeroslav/localize-router-example) for working example built with CLI.

What I can see from your code insert is that you've imported `LocalizeParser` but never used it. However, this can throw only tslint error (dependin

[2016-11-23 09:59] koodikindral commented on #7
Thanks, much better now! One small problem though, when I open the app from root URL, home page won't be shown (added to the router-outlet), but when I open the page from http://localhost:5555/en for example, it's working as intended.

**home-routing.module.ts**
[code]

**app-routing-module.ts**
[code]

[2016-11-23 12:20] koodikindral commented on #7
Found the problem:

`localize.changeLanguage('ee');`

was called on app.component.ts's constructor :) Issue can be closed, thanks for the great package :)

[2016-11-23 12:23] meeroslav commented on #7
Glad to hear that. Thank you for your feedback!

[2016-11-23 12:23] #7 closed

[2016-11-26 21:10] koodikindral opened #8 "AoT build fails when using forRoot / forChild methods"
**app-routing.module.ts:**
[code]

[code]

[2016-11-30 09:23] seemsindie opened #9 "SyntaxError: Unexpected token export"
Hello guys, this is my module:

[code]

And when i run `ng serve` i am getting this error:

[code]

Any idea what am i doing wrong?

[2016-11-30 11:08] meeroslav commented on #9
@seemsindie
Hi Ivan,
This looks like Typescript transpiler inconsistency error. `export` comes from ES6 format and your transpiler is probably set to common.js. It would help if you could provide more information:
- Which version of CLI are you using?
- What are your `tsconfig.json` settings?

[2016-11-30 13:31] seemsindie commented on #9
@meeroslav
My `tsconfig.json` contains:

[code]

And i am using `universal-cli` https://github.com/devCrossNet/angular-cli
Version:
universal-cli: 1.0.0-alpha.universal.1
angular-cli: 1.0.0-beta.19-3

[2016-11-30 15:48] meeroslav commented on #9
I will look into it as soon as possible. Sorry for the delay.

[2016-11-30 17:24] koodikindral commented on #8
Hi,
Any ideas what might cause it?

[2016-12-02 09:53] meeroslav commented on #8
Hi, sorry for waiting.

This error usually means you are using anonymous function in the module intialization.
Instead you should use exported function.
I haven't seen your TranslateModule initialized. Do you have something like this in your AppModule:
[code]

You can try to find more information on [#11262](https://github.com/angular/angular/issues/11262).
If that doesn't help can you provide min

[2016-12-06 21:30] koodikindral commented on #8
Hi, ng2-translate is being initialized in a following way:

[code]

This is not causing any problems. I will also try to provide a minimal example.

[2016-12-06 21:47] koodikindral commented on #8
Could it be that LocalizeRouterModule.forRoot() and LocalizeRouterModule.forChild() invoke:

[code]

which contains lambdas?

[2016-12-07 11:17] meeroslav commented on #8
@koodikindral You are right. However solution is not trivial, that's why it's taking so long.

[2016-12-07 11:39] dragonnblack opened #10 "Can't install cause need "traceur.js""
Hello,

I want to use this [angular2 seed advanced who use ng2-translate](https://github.com/NathanWalker/angular-seed-advanced)

But also I wanted to add your pluggin to add localization on my urls, but when I install, import and launch got the error traceur.js not found, tried to install it but same error.

Any idea?

Regards,

[2016-12-07 18:10] koodikindral commented on #8
4ca42d51c9c546e25378708c5cde1d6a73c95868 - is still work in progress? I can help to test it once ready

[2016-12-07 18:12] koodikindral commented on #10
I've added traceur to my project's config:

[code]

[2016-12-07 18:29] meeroslav commented on #9
Hi, can you compare your version with [https://github.com/meeroslav/universal-localize-example](https://github.com/meeroslav/universal-localize-example)? This is pretty rudimental project built with `universal-cli`.

Also I hope it's just a typo - project built with universal-cli should be served with `ung serve` not `ng serve`.

[2016-12-07 18:42] meeroslav commented on #8
Unfortunately it's still in progress, the original problem was fixed but now compiler mis-compiles `localize-router` and tries to locate LocalizeParser in non-existing folder.

This is the current error, in case you get it:
[code]

The origin comes from broken `app.module.ngfactory`:
[code]

[2016-12-07 22:01] meeroslav commented on #8
It works ok if you move/copy `LocalizeParser` provider factory to `app.module`. Please refer to readme for more details or look at [https://github.com/meeroslav/universal-localize-example](https://github.com/meeroslav/universal-localize-example).

Seems that 4ca42d51c9c546e25378708c5cde1d6a73c95868 fixed it.

I will have to follow up with Angular core team why moving this factory to app.module was

[2016-12-07 22:13] dragonnblack commented on #10
Thanks you, I had to add rxjs like this too but now it's Ok

Maybe another problem, I import the serviceLocalizeRouterService  as localize, when I use this.localize.changeLanguage() is't ok but on the same view I try the | localize got an error that pipe localize is missing, but i'm doing same than example, any idea?

Very thanks! :D

[2016-12-07 22:41] meeroslav commented on #10
If you get message that pipe localize is missing that means you are using pipe in a module without importing the LocalizeRouterModule. Find all the templates/components where you use '... | localize' and check if their parent module imports LocalizeRouterModule.

[2016-12-07 22:48] meeroslav commented on #10
@dragonnblack Please close this issue if solution provided by @koodikindral solved your problem. Thanks!

[2016-12-07 23:18] koodikindral commented on #8
Works perfectly! Thanks a lot!

[2016-12-07 23:18] #8 closed

[2016-12-08 07:09] #10 closed

[2016-12-12 08:52] phatpham9 commented on #9
Anyone can help!? I have an error with `import { Observable } from 'rxjs/Observable'; SyntaxError: Unexpected token import`
![localize-router error](https://cloud.githubusercontent.com/assets/3795964/21093165/f69fae26-c082-11e6-850e-454b24d61427.png)

[2016-12-12 15:43] Chuvisco88 commented on #9
@phatpham9 I remember I had the same problem some time back. Did you add rxjs to your vendors?

[2016-12-12 16:45] phatpham9 commented on #9
@Chuvisco88 I've tried `import 'rxjs/Observable';` and now `SyntaxError: Unexpected token export`

[2016-12-22 10:55] Chuvisco88 opened #11 "[Documentation] Improvement for router.navigate"
I ran into an error when trying to navigate in the code `this.router.navigate(['/route']);` directly.
Tried this with the localize-router-example as well but found out a solution for it as below:

`this.localize.translateRoute('route', true).subscribe(
    path => this.router.navigate(['/' + path])
);`

Would be good to note that down somewhere in the readme

[2016-12-22 12:56] meeroslav commented on #11
Hi,

I expected [https://github.com/Greentube/localize-router#service](https://github.com/Greentube/localize-router#service) to be clear enough, but I guess it can be improved.

Thanks for bringing that up!

Cleaner way to solve your task would be:
[code]
But I guess your solution works just as well.

[2016-12-22 13:05] meeroslav commented on #11
@Chuvisco88 Is it more clear now? If not can you suggest how to improve it? Thanks!

[2016-12-23 05:51] Chuvisco88 commented on #11
Totally clear and thanks for the cleaner way!

[2016-12-23 05:51] #11 closed

[2016-12-27 20:51] Wefeedthetroll commented on #9
Same issue trying to implement localize-router with angular universal ( universal start, not universal-cli ). I've tried to import rxjs but no luck.

[2016-12-28 02:21] phatpham9 commented on #9
Still waiting helps

[2016-12-28 11:02] meeroslav commented on #9
Hi, can you provide minimal repo?

[2016-12-30 12:22] fulls1z3 commented on #3
any updates on this issue?

[2016-12-30 13:53] meeroslav commented on #3
Unfortunately didn't have time to focus on it. Sorry!

[2016-12-30 14:31] fulls1z3 commented on #3
No problem, I'm digging the plugin a little and gonna try to share the best available fallback methods to get it working with lazy loaded routes. Hope I can contribute more.

[2016-12-30 14:38] meeroslav commented on #3
Thanks, any support is appreciated.

[2016-12-30 20:09] PaoloDiaz27 opened #12 "How can I dynamically translate a route?"
I try to translate a route dynamically in a component, I need to do that because I navigate from a component to other by a button, but before of navigate I need to do something else.
I do this

this.localize.translateRoute('restaurantList').subscribe((path: string) => {
            this.router.navigate(['restaurantList']);
          });

I don't know if I do something wrong, I just downloaded loca

[2016-12-30 20:45] PaoloDiaz27 commented on #12
When i initialize "private localize: LocalizeRouterService" in the constructor, the app don't load and show this error in the console. Maybe you know what happen?

![errorlocalizerouter1](https://cloud.githubusercontent.com/assets/24846410/21572410/972c6c68-cea6-11e6-8f3f-9d96574b6545.png)

[2017-01-03 08:27] meeroslav commented on #12
Hi @PaoloDiaz27 ,

Sorry for waiting.
For your first question, answer would be to use translated `path` variable instead of `restaurantList` string in `router.navigate` method:

    this.localize.translateRoute('restaurantList').subscribe((path: string) => {
        this.router.navigate([path]);
    });

As for the second question, I can only see from your log that `resetConfig` fails because your

[2017-01-04 14:22] bellolau opened #13 "Browser language detection doesn't work"
On chrome, with French as main language, default language returned by LocalizeParser._getBrowserLanguage is not fr.

[2017-01-04 23:04] samvloeberghs opened #15 "this sir, is brilliant!"
and what I've always been looking for but never found, until now :)
Thanks a lot for your effort! Will be contributing wherever I can!

[2017-01-04 23:07] samvloeberghs opened #16 "not a development dependency"
I would think of it, as being part of the end product, to be a real dependency.
Could it be worthy to change the readme from:

`npm install --save-dev localize-router`

to

`npm install --save localize-router`

[2017-01-05 07:30] samvloeberghs opened #17 "support for universal"
is there support described for universal somewhere?

digging trough the source code I suspect not, cause it uses a check for navigator for the browserlanguage. When going for support for universal in node this language could be extracted from the requested_language.

GRtz

[2017-01-05 09:14] meeroslav commented on #15
Thank you and welcome! :)

[2017-01-05 09:14] #15 closed

[2017-01-05 09:17] #16 closed

[2017-01-05 10:40] samvloeberghs commented on #17
More details:

You will need to put a way to define where to load the assets/locales.json.
As an example I would point to your dependecy: ng2-translate. Related issues & gists:
https://github.com/ocombe/ng2-translate/issues/353
https://github.com/angular/universal-starter/issues/263
https://gist.github.com/ocombe/593d21598d988bf6a8609ba5fc00b67e

Will be glad to help out more on this one! Please r

[2017-01-05 12:14] meeroslav commented on #17
It would be really helpful if you can set up a universal playground project with localize-router or try to solve this for `localize-router`. Unfortunately I won't have time to play with this until February so any help is appreciated.

[2017-01-10 14:20] PaoloDiaz27 commented on #12
These are my routes

// Route Configuration
export const routes: Routes = [
    {path: '', redirectTo: '/index', pathMatch: 'full'},
    {path: 'index', component: IndexComponent},
    {path: 'another', component: AnotherComponent},
    {path: 'dashboard', component: DashboardComponent},
    {path: 'contactUs', component: ContactUsComponent},
    {path: 'restaurantList', component: RestaurantListC

[2017-01-10 18:27] Rj-s opened #18 "Lazzy loading through loadChildren not working for child routes."
Issue:-
**Routing is not happening in lazy loaded modules through loadChildren route configuration.**

environment:-
angular-cli: 1.0.0-beta.24
node: 6.4.0
os: win32 x64
@angular/router: 3.4.2
@angular/compiler-cli: 2.4.2
localize-router: ^0.4.0,
ng2-translate: ^4.0.0,

main app routing:-
export const routes: Routes = [
  { path: '', redirectTo: 'login', pathMatch: 'full' },
  { path: 'login', com

[2017-01-11 13:56] meeroslav commented on #12
Is there a possibility you can create a small repo where this issue can be reproduced?

[2017-01-11 13:57] meeroslav commented on #18
This is duplicate of #3

[2017-01-11 13:57] #18 closed

[2017-01-11 18:52] PaoloDiaz27 commented on #12
Hi @meeroslav

I want to tell you that I have solved the problem. In the app.module.ts I was calling a service that did nothing, then deleted that service and initialized "LocalizeRouterService" in the constructor, the app continued to run normal.
Then, I use the following statement

this.localize.translateRoute('restaurantList').subscribe((path: string) => {
    this.router.navigate([path]);
});

[2017-01-12 13:46] meeroslav commented on #12
@PaoloDiaz27 Those are great news! Can you please close this issue if there are no further issues?

[2017-01-12 21:08] #12 closed

[2017-01-16 09:47] jelenaDedskin commented on #3
Any update on this issue? I'm also having troubles with setting up localization for lazy loaded routes

[2017-01-16 15:10] fulls1z3 commented on #3
Hi @jelenaDedskin, I'm actually working on it due to my project needs. As far as I've seen the translation process takes place during init() method of the parser. And I've observed that root routes are processed this way, however lazy loaded routes are not.

I think I'll make sure what's happening at the background, and come up with a working PR soon.

[2017-01-18 16:38] gizbo opened #19 "Save user preferred locale in localstorage?"
Hello,
   With the angular 1 version of $translate there was a plugin that allows us the save the user locale selection in the local-storage and reload it automatically on the next visite? How can this be implement with ngtranslate2-localize-router?
Thanks so much,
Yves

[2017-01-26 16:06] dneeleman commented on #17
@samvloeberghs Any updates? Would like to integrate this in our Universal App as well.

[2017-01-26 16:11] samvloeberghs commented on #17
@dneeleman no sorry.. I came to the conclusion that this plugin is not fitting my needs so I stopped investigating. I'm solving it completely different now.

[2017-01-26 16:13] dneeleman commented on #17
@samvloeberghs No problem, what in the plugin doesn't fit your needs if i may ask?

[2017-01-26 16:14] samvloeberghs commented on #17
@dneeleman (also check my updated comment above)

Nothing very general, my architecture ( mainly in how I build urls ) and the way I serve the specific app made this plugin not useful. I would use it in other cases I believe ..

[2017-01-27 15:03] #13 closed

[2017-01-27 16:03] #19 closed

[2017-01-27 21:47] kitsh commented on #9
@phatpham9
I was having a very similar error as yours above. I was creating a repo to post here by mashing some stuff from preboot2 angular stub with this and the stub was updated to use webpack2.  I didn't have the error, I ported the configs from this back over to my main project
https://github.com/kitsh/Stub-ang2-webpack-localize-router
I think the problem had something to do with webpack 1 lin

[2017-02-01 16:35] meeroslav commented on #9
I've managed to reproduce it so I'll look into it. It took a while, sorry

[2017-02-02 13:15] fulls1z3 commented on #3
Finally I solved the issue. The problem is, `ng2-translate` returns an observable as the result of translation process. Lazy loaded routes can be translated (ex: http://mysite.com/en/account/login in english or http://mysite.com/fr/compte/entrer in french), but when you press reload button on the browser it redirects to http://mysite.com/en or http://mysite.com/fr.

This happens because when the a

[2017-02-02 13:52] meeroslav commented on #3
@fulls1z3 Do you have this code somewhere on github?

[2017-02-02 13:54] fulls1z3 commented on #3
@meeroslav still testing, hope I can upload it this weekend.

[2017-02-03 13:28] #9 closed

[2017-02-03 14:10] meeroslav commented on #17
@samvloeberghs and @dneeleman

I've made some modifications but it's not finalized yet. In order to load localize router config with node use this:

Server loader for `ng2-translate`
[code]
Server loader for `localize-router`
[code]

I still need to remove `location` from parser, though, so be patient please.

[2017-02-03 16:12] #17 closed

[2017-02-05 21:07] Masquer opened #20 "no language in path doesn't use default"
Here's the quote from README:

But I don't notice the behavior described; the [demo app](https://github.com/meeroslav/localize-router-example) also acts the other way.

Steps to reproduce in demo app:
- navigate somewhere (i.e.) to '/en/users' -- it works
- type in path without language, as '/users' -- it doesn't work

Desired behavior -- '/users' auto redirects to '/en/users' as first and default

[2017-02-06 09:06] meeroslav commented on #20
Hi @Masquer, it might be that documentation is a bit misleading. Thanks for pointing that out. Documentation only explains the algorithm by which language gets chosen.

Localize-router prepends all the routes with selected language and creates a redirect to base language url e.g. `my/route/path` will become `en/my/route/path`. Once localize-router had been initialized it overrides the initial rout

[2017-02-06 18:10] brunorentcars commented on #20
how can I add exception in router?

[2017-02-06 19:03] meeroslav commented on #20
@brunorentcars If you refer to catching 404 you can do it by pointing all unknown routes (**) to the component that will handle the redirection.

[https://angular.io/docs/ts/latest/guide/router.html](https://angular.io/docs/ts/latest/guide/router.html)

If this is not what you're referring to, then please provide more information.

[2017-02-06 19:13] brunorentcars commented on #20
if I set a different language on URI there isn't on configuration file(locales.json) my application crashes.

There routers for 404:
{path: '404', component: NotFoundComponent},
{path: '**', redirectTo: '404'}

But localize-router put this routers inside children language route.
For example:
{path: '', redirectTo: 'en', pathMatch: 'full'}
{path: 'en', children: [
    {path: '404', component: NotFo

[2017-02-07 15:24] Chuvisco88 opened #21 "[Help wanted] Error with 0.6.0"
Hi @meeroslav

I upgraded from 0.4.0 to 0.5.0 and then finally to 0.6.0
With the latest version I receive `Error: Template parse errors: The pipe 'translate' could not be found`.

As it only happened, when upgrading this module, I think there might be a bug with the initialization.

[code]

Can you provide some assistance?

[2017-02-07 15:41] meeroslav commented on #21
Can you try it out by importing TranslateModule before LocalizeRouter?

[2017-02-07 15:43] meeroslav commented on #21
Normally this error would mean that your component where the template is referenced is defined in the module that doesn't import TranslateModule.

[2017-02-07 15:45] meeroslav commented on #20
@brunorentcars please create a separate issue for this and I'll get on to it asap. Thanks!

[2017-02-07 16:16] brunorentcars opened #22 "Invalid language on URI"
If I set a different language on URI, there isn't on configuration file(locales.json), my application crashes.

There routers for 404:
{path: '404', component: NotFoundComponent},
{path: '**', redirectTo: '404'}

But localize-router put this routers inside children language route.
For example:
{path: '', redirectTo: 'en', pathMatch: 'full'}
{path: 'en', children: [
{path: '404', component: NotFoun

[2017-02-07 19:46] heyligengregory opened #23 "Loading of rxjs.js failed with angular-seed project."
Hi all,

I try to use localize-router with mgechev/angular-seed. Everything works with ng2-translate but when I try to use localize-router, I have this error :

`(SystemJS) XHR error (404 Not Found) loading http://localhost:5555/node_modules/rxjs.js`
`Error loading http://localhost:5555/node_modules/rxjs.js as "rxjs" from http://localhost:5555/node_modules/localize-router/bundles/localize-router.u

[2017-02-08 08:43] Chuvisco88 commented on #21
Tried changing the imports, didn't help so far.
I only import the TranslateModule in the AppModule, that did work up to 0.5.0.
I will try to add it at different places

[2017-02-08 09:19] Chuvisco88 commented on #21
That was it! I forgot to add the TranslateModule everywhere!
Did add it and it worked.

Fascinatingly it did work with earlier versions without a problem, but is fixed now.
Thanks for your support

[2017-02-08 09:19] #21 closed

[2017-02-08 11:28] enghelewa opened #24 "Issue when using breadcrumb component"
![x](https://cloud.githubusercontent.com/assets/939234/22735396/3954b2f0-ee02-11e6-9997-25f8790e331d.png)
Hi,
I am working on multi-culture angular web app and to get culture in URL I am using

But found that the current selected culture appear in the breadcrumb component like this:
`Home / En / Campaigns`

Is there any way to remove the culture from the breadcrumb ?

thanks

[2017-02-08 13:17] Chuvisco88 commented on #24
As far as I could see, ng2-breadcrumb is building on top of the routes which are extended with localize-router.
In my opinion it would make sense for ng2-breadcrumb to check for languages before building upon them.

[2017-02-08 13:22] enghelewa commented on #24
Thanks for responding @Chuvisco88
I solved the problem by just hiding the breadcrumb item related to the culture using css `:nth-child` but a proper solution is to use this function provided by ng2-breadcrumb service
`this.breadcrumbService.hideRouteRegex('^/([A-Za-z]{2})$');`

[2017-02-08 13:22] #24 closed

[2017-02-08 14:07] ruffiem commented on #23
When using localize-router with angular-seed, localize-router tries to resolve dependencies - even the ones that are already loaded - but fails  [(issue)](https://github.com/mgechev/angular-seed/issues/1800#issuecomment-278302289).

[2017-02-08 18:48] heyligengregory commented on #23
Hum I saw a response in angular-seed. About adding this in seed.config.ts :

`packages: {
		'rxjs': {
        main: 'Rx.js',
        defaultExtension: 'js'
      }
    }`

After adding this, the error changed for :

`(SystemJS) Module not already loaded loading "@angular/core" as http://localhost:5555/node_modules/@angular/core/bundles/core.umd.`

Does this peerDependencies could have an impact on

[2017-02-08 22:28] ruffiem commented on #23
@heyligengregory yes, there's clearly a problem when the module tries to resolve the dependencies. It should not use its own but the ones that are loaded by SystemJS. Did you try to create a production build with the seed ? Production builds do not use SystemJS.

[2017-02-09 08:52] Masquer commented on #22
As a workaround you can add a root path redirect after the localize-router was initialized.
like this: this.router.config.push({  path: '**', redirectTo: 'en/404' });
('router' is an instance of Router)

[2017-02-11 17:41] fulls1z3 commented on #3
Hi @meeroslav,

I've published the code on github. Please have a look at [i18n-router](https://github.com/nglibs/i18n-router) and [i18n-router-config-loader](https://github.com/nglibs/i18n-router-config-loader).

Didn't have an opportunity to write tests, but they will appear soon. Bugs will appear too :)

I also didn't forget to mention your project at the `Credits` section. And I have no words w

[2017-02-11 23:47] fulls1z3 commented on #3
Hi @meeroslav,

I've published the code on github. Please have a look at [i18n-router](https://github.com/nglibs/i18n-router) and [i18n-router-config-loader](https://github.com/nglibs/i18n-router-config-loader).

Didn't have an opportunity to write tests, but they will appear soon. Also didn't forget to mention localize-router at the `Credits` section.

[2017-02-12 22:16] #22 closed

[2017-02-13 00:15] #23 closed

[2017-02-13 09:22] fcollombon commented on #23
Are you sure the bug is solved? I have an other error after your update:

[code]

[2017-02-13 10:44] meeroslav commented on #23
Hi @fcollombon,

the original problem was in Observable and Subject being imported from `rxjs` instead of `rxjs/Observable` and `rxjs/Subject` as well as using generic node exports with webpack bundling. This resolved the original issue. You can see the working application here: [https://github.com/meeroslav/angular-seed-systemjs](https://github.com/meeroslav/angular-seed-systemjs).

Your issue lo

[2017-02-13 12:47] meeroslav commented on #3
@fulls1z3 I've seen you've took the different approach by avoiding `ng2-translate` so I understand why you've created separate package.
I will look more deeply later to see if there is something I might borrow as well :)

[2017-02-15 09:01] mrzepinski opened #25 ""Cannot match any routes" after page refresh"
I got "Cannot match any routes" after page refresh in my appliaction.
Without `localize-router` everything work fine.

With: `LocalizeRouterModule.forRoot(appRoutes)` in my `app.module.ts` I got an error in the browser.

"@angular/cli": "1.0.0-beta.31"
"@angular/compiler-cli": ">=4.0.0-beta <5.0.0"
"@angular/common": ">=4.0.0-beta <5.0.0"
"@angular/compiler": ">=4.0.0-beta <5.0.0"
"@angular/core":

[2017-02-15 09:11] mrzepinski opened #26 "JSON file with translation is loaded twice"
With `localize-router` I see in my Network tab (Chrome) that the JSON file with current language translations is loaded twice.

"@angular/cli": "1.0.0-beta.31"
"@angular/compiler-cli": ">=4.0.0-beta <5.0.0"
"@angular/common": ">=4.0.0-beta <5.0.0"
"@angular/compiler": ">=4.0.0-beta <5.0.0"
"@angular/core": ">=4.0.0-beta <5.0.0"
"@angular/http": ">=4.0.0-beta <5.0.0"
"@angular/platform-browser": ">

[2017-02-15 09:13] mrzepinski opened #27 "Missing option to set LOCALIZE_LOCAL_STORAGE value"
It would be nice to have an option to set value for localStorage key.

[2017-02-15 09:17] meeroslav commented on #25
Can you provide more information:
- what route are you loading?
- how does your appRoutes look like?
- if possible provide link to your repo

Thanks

[2017-02-15 09:17] meeroslav commented on #26
I will look into it, thanks

[2017-02-15 09:19] meeroslav commented on #27
Noted. I will try to add this as an configuration.

[2017-02-15 09:20] mrzepinski commented on #25
@meeroslav It's part of enterprise project, so it's not available online.

My `appRoutes` is simple:

[code]

1. Load homepage
2. Go to `admin/active-sessions`
3. Refresh the page (F5)
4. Error

[2017-02-15 09:24] meeroslav commented on #25
Well,  `admin/active-sessions ` should be invalid.
Once localize-router kicks in, proper URL should be e.g. `en/admin/active-sessions` so the message you get is correct.
Do you navigate through the application to the given route or you modify the browser URL manually?
Former would be a bug in `localize-router` while later would be expected behavior.

Please note that there is possibility to add fl

[2017-02-15 09:27] mrzepinski commented on #25
@meeroslav Sure, it's `en/admin/active-sessions`. I skipped this for clarity.
I navigate through the application. I just refresh the page by pressing F5.

[2017-02-15 12:26] meeroslav commented on #25
@mrzepinski This would notmaly happen if you would be using lazy loaded routes (#3). If this is not the case, then I will investigate it as soon as possible.

[2017-02-15 12:28] mrzepinski commented on #25
@meeroslav It's not this case. I'm not using lazy loaded routes.

[2017-02-17 07:45] mrzepinski opened #28 "Update to ngx-translate"
https://github.com/ngx-translate

[2017-02-17 09:56] meeroslav commented on #28
It's planned. Stay tuned

[2017-02-18 07:12] CamusAran opened #29 "Add support for "relativeTo" to "translateRoute" method."
Currently there doesn't seem to be a way navigate to a translated relative path (that I've found).

https://angular.io/docs/ts/latest/api/router/index/NavigationExtras-interface.html#!#relativeTo-anchor

[2017-02-19 16:25] meeroslav commented on #29
@CamusAran  Did you try this:

[code]

[2017-02-19 20:22] meeroslav commented on #26
@mrzepinski This was a know issue in `ng2-translate` now known as `ngx-translate`. You can find more details here: [https://github.com/ngx-translate/core/issues/397#issuecomment-275368243](https://github.com/ngx-translate/core/issues/397#issuecomment-275368243). It will be resolved once I upgrade to latest version.

[2017-02-19 20:48] #28 closed

[2017-02-19 20:49] #26 closed

[2017-02-20 01:24] CamusAran commented on #29
Ok turns out that the issue wasn't what I thought it was, and also I don't actually need to translate the route:
`this.router.navigate(['../', 12345], { relativeTo: this.route });`

The issue I was having was that I have a method in my core service that I'm using to translate the routes and I was somehow passing `['../', 12345]` as a string to `translateRoute(path, true)` which resulted in "/en/..

[2017-02-20 08:22] meeroslav commented on #29
No, need. I'll add this functionality.

[2017-02-20 08:27] meeroslav commented on #29
In the meantime, please use this:
[code]

[2017-02-20 08:27] #29 closed

[2017-02-20 13:34] Chuvisco88 commented on #25
@mrzepinski Could you provide the navigation link as well?

[2017-02-20 14:33] Chuvisco88 opened #30 "@angular/router: 3.4.8 breaks initial redirect"
Before upgrading the router from 3.4.7 to 3.4.8 the following happened:
`localhost:3000 => localhost:3000/de/karten/standard`

After the upgrade I receive the following redirect:
`localhost:3000 => localhost:3000/cards/standard`

Obviously a bugfix in the angular router broke the translated redirects.
I upgraded all my dependencies manually and step by step and the problem occurred as soon as I up

[2017-02-20 14:36] meeroslav commented on #25
This is caused by router version 3.4.8. Seems that navigation kicks in before APP_INITIALIZER finishes.

[2017-02-20 14:37] meeroslav commented on #30
Hi @Chuvisco88, this is duplicate of #25

[2017-02-20 14:38] #30 closed

[2017-02-20 14:49] Chuvisco88 commented on #25
Yeah, looked into the changes (https://github.com/angular/angular/compare/2.4.7...2.4.8).
Looks like the process changed. They added a `LOCATION_INITIALIZED` which might help

[2017-02-20 15:02] meeroslav commented on #25
This will break the backwards compatibility unfortunately, not to mention 4.x.x versions.
I need to investigate more to find proper solution.

[2017-02-20 18:25] juanmcampos commented on #20
hello @brunorentcars just wondering if you managed to accomplish this behavior? Thnx

[2017-02-20 18:33] brunorentcars commented on #20
@juanmcampos check this issue: https://github.com/Greentube/localize-router/issues/22

[2017-02-20 19:45] juanmcampos commented on #20
@brunorentcars great! thnx I updated my module version, and was able to get that '**' wilcard route. But any clue on how do I get the requested url? so i can handle the translate? any help would be awesome really thnx

[2017-02-21 08:42] thebarada opened #31 "Routes not rewrited if LocalizeRouterService wasn't inject somewhere"

[2017-02-21 08:49] Chuvisco88 commented on #31
Not sure what you want to say, but did you initialise the LocalizeRouterModule correctly?
Can you provide some example what you did so far?

[2017-02-21 08:56] thebarada commented on #31
I've initialize module like this
in main module:
[code]

and in app module
[code]

But I've errors like `Error: Cannot match any routes. URL Segment: ...`
until I've inject LocalizeRouterService in any module

now routes works correct, but I think it is a bug

[2017-02-21 09:18] thebarada opened #32 "Add possibility store current language in cookie instead localStorage"
It will allow getting actual current language on server side

[2017-02-21 11:37] brunorentcars commented on #20
@juanmcampos if you want to get the current route path, you can use ActivatedRoute.
For example:
`
constructor(private activatedRoute:ActivatedRoute) {
    console.log(this.activatedRoute.snapshot.url)
}
`
If you want to get the full uri, you can use Router.
For example:
`
constructor(private router:Router) {
    console.log(this.router.url)
}
`

[2017-02-21 13:17] meeroslav commented on #25
Issue mentioned in [https://github.com/angular/angular/issues/14615](https://github.com/angular/angular/issues/14615)

[2017-02-21 15:27] #31 closed

[2017-02-21 22:43] thebarada commented on #31
@meeroslav did you publish 0.6.3 version correct? because I have old module file and service as well

[2017-02-22 10:27] meeroslav commented on #31
@thebarada I seems that package was not published correctly. Please use version 0.6.4. Thanks for the information.

[2017-02-22 11:44] BrunoSalgado opened #33 "Error npm install"
When I trying to run npm install, I get the following code:
ERROR in Error encountered resolving symbol values statically. Could not resolve @ngx-translate/core relative to /home/www/mobile/node_modules/localize-router/src/localize-router.module.d.ts., resolving symbol LocalizeRouterModule in /home/www/mobile/node_modules/localize-router/src/localize-router.module.d.ts, resolving symbol LocalizeRo

[2017-02-22 12:14] BrunoSalgado commented on #33
I'm using localize-router@0.6.0 with ng2-translate

[2017-02-22 12:17] meeroslav commented on #33
@BrunoSalgado  Are you sure? `ngx-translate` has only been introduced in version 0.6.4. And it requires `ngx-translate` instead of `ng2-translate`. Can you post your package.json?

[2017-02-22 12:20] BrunoSalgado commented on #33
`{
  "name": "mobile",
  "version": "0.0.0",
  "license": "MIT",
  "angular-cli": {},
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "lint": "tslint \"src/**/*.ts\" --project src/tsconfig.json --type-check && tslint \"e2e/**/*.ts\" --project e2e/tsconfig.json --type-check",
    "test": "ng test",
    "pree2e": "webdriver-manager update --standalone false --gecko false",
    "e2e": "pr

[2017-02-22 12:23] meeroslav commented on #33
Exactly, remove sign `^` in front of version number.
And you'd have to re-run `npm install` and `npm cache clean`.

[2017-02-22 12:24] meeroslav commented on #33
Please close the issue if this solves it. Thanks

[2017-02-22 12:30] BrunoSalgado commented on #33
This solved. Thank you!

[2017-02-22 12:30] #33 closed

[2017-02-22 12:33] thebarada commented on #31
@meeroslav thnx a lot! I appreciate your help)

[2017-02-22 16:44] dahfazz commented on #20
Hi @meeroslav

I'm dealing with a similar issue; On load everything is OK.
I'm on    ***/en/home

There, I click on a link on which i put [routerLink]=['users' | localize]

It throws an error because /users doesn't exist anymore, and I should target /en/users

I thought it was exactly why I need to use localize Pipe.

What am I missing please ?

[2017-02-22 18:44] meeroslav commented on #20
Short answer - you need to prefix base routes with backslash

[code]

I will provide more details once I reach my computer, in case you are interested.

[2017-02-22 21:57] meeroslav commented on #25
Workaround for version 2.4.8. can be found here: [https://github.com/angular/angular/issues/14588](https://github.com/angular/angular/issues/14588).

Proper solution will be done soon.

[2017-02-23 10:41] thebarada opened #34 "Don't set language prefix to url if there is only one locale"
It will be great if url will not change if locales will have only one languag

[2017-02-23 12:36] meeroslav commented on #34
It's a sensible request generally.
However, if you have only one locale, why use `localize-router` in the first place?

[2017-02-23 13:05] thebarada commented on #34
in my case, user can set up one or more langs in your profile
so, it is locales is dynamic

[2017-02-23 13:27] Chuvisco88 commented on #34
Well you still need to support `n` languages in this case, which means there should be multiple routes to the same page based on the language, right? :)

[2017-02-23 13:28] thebarada commented on #34
but if user set up only one language, I think it will be more correctly if url will still without lang prefix :)

[2017-02-23 13:31] Chuvisco88 commented on #34
Okay, let's see it from the point of a route.
Let's say you have for example `/my-profile`. In english it will stay the same, for german it would be `/mein-profil` and in french it would be `/mon-profil`.
It does not matter if your user has only set French for example, as the other possibilities still can be used by other users.

Or could you give an example?

[2017-02-23 14:23] thebarada commented on #34
Said `user`, I did not mean person that use application
I've mean user who set up you own application (like CMS)

[2017-02-23 14:59] meeroslav commented on #34
Well, I can say that such functionality would most likely never be implemented because there are multiple unclear (and potentially breaking) scenarios:
* if user goes to `www.yoursite.com/person`  which language should the application be rendered in if this word exists in both German and English language?
* in order for application to apply translation and localization it has to load the correct t

[2017-02-23 15:01] Chuvisco88 commented on #34
Beside of that, if you as the user (setting up the application) decide to have just one language, why using `localize-router`? You decide the spectrum of languages so you should decide as well if the module is needed.

[2017-02-23 15:04] thebarada commented on #34
@Chuvisco88 so, you suggest check number of languages before bootstrapping of application?

[2017-02-23 15:12] meeroslav commented on #34
@thebarada Just checked the code quickly... There is a possibility to enable this functionality if only single locale is provided in the config.
However, you have to understand that at the moment this has low priority and would require some additional changes which are planned only for the future version (spoiler: fully configurable `localize-router`).

[2017-02-23 15:17] thebarada commented on #34
@meeroslav ok, I've see you
if you'll include this functionality to future version - it will be great)
will waiting for update)

[2017-02-25 08:39] CamusAran commented on #3
Any update on this?

[2017-02-25 11:45] fulls1z3 commented on #3
@meeroslav, @CamusAran
I suppose it's gonna be possible with `ngx-translate` too.

For this, route translations must be loaded during app initialization (until router@3.4.7).

With router@3.4.8, this behavior has been changed, I can't talk about it for sure.

They say this breaking (or failing) change will be reverted.

Anyway, will try to build a loader (for router@2.4.7) and let u know about tha

[2017-03-04 23:02] CamusAran commented on #25
Any update on this?

[2017-03-07 13:00] #3 closed

[2017-03-07 13:10] meeroslav commented on #25
Resolved with Angular version 2.4.9

[2017-03-07 13:10] #25 closed

[2017-03-08 17:14] JochemKuijpers opened #35 "Use this package without it overriding ngx-translate language settings"
I started using this package because I want to translate my routes.
I have a method to decide which language to use for ngx-translate. Some other things depend on this as well, so it is not easily changed.

The module of this package seems to set the language earlier in it's `init` method than I am able to set the preferred language. It does so incorrectly, causing a 404 response on `/assets/i18n/

[2017-03-08 22:29] CamusAran commented on #25
Nice.

Any plans to support the new process that is used in Angular 4? There will apparently be a legacy option that makes it work like in 2.x but you can't use that with Universal.

[2017-03-10 12:41] GoshaFighten commented on #25
@meeroslav
When are we going to have a new version supporting Angular 2.4.9?

[2017-03-13 14:15] meeroslav commented on #35
Hi @JochemKuijpers,

`LocalizeRouter` sets the language on application init (APP_INITIALIZE loop) and translates the routes into target language before initial `NavigationStart` kicks in and AppComponent is initialized.
Unfortunately, this is mandatory as NavigationStart happens before AppComponent, and would otherwise load invalid route or break.

What I would suggest is to give you a possibility

[2017-03-13 14:19] meeroslav commented on #25
The new version should be there in few days, I'm working on tests.

In the meantime, if you don't mind npm complaining, version 0.6.4 is fully functional with **Angular Core** 2.4.9 (and **Angular Router** 3.4.9).

[2017-03-13 16:25] JochemKuijpers commented on #35
Thanks for responding to my question.

Yes, definitely! This will work.

I suggest the function takes as parameters the current route and the suggested language by `localize-router`. This way, a function that returns the suggested language will have the default behaviour.

The reason I would like a reference to the current route, is because I'm basing the selected language upon various factors, in

[2017-03-17 08:59] mrzepinski opened #36 "AOT - Calling function 'prepareRoutes', function calls are not supported."
`ERROR in Error encountered resolving symbol values statically. Calling function 'prepareRoutes', function calls are not supported. Consider replacing the function or lambda with a reference to an exported function`

angular-cli: 1.0.0-rc.2

[2017-03-17 09:30] meeroslav commented on #36
@mrzepinski,

Yes, this is the reason why new version with lazy loading is still not published. `prepareRoutes` can be solved with minor change in architecture, but pre-translating the lazy child routes would still not work. Hopefully I'll come up with the solution soon.

[2017-03-17 13:47] dabele91 opened #37 "localize-router doesn't work in safaris private mode"
localize-router doesn't work in safaris private mode, because the local storage isn't available.
I'm receiving the same Error as explained in the following stack overflow issue: http://stackoverflow.com/questions/21159301/quotaexceedederror-dom-exception-22-an-attempt-was-made-to-add-something-to-st

[2017-03-22 16:59] JochemKuijpers commented on #35
Any ETA of this fix? It's currently blocking for the next update of my website. Thanks!

[2017-03-25 22:50] CamusAran commented on #25
@meeroslav
What about Angular 4.0.0 support?

[2017-03-30 15:06] leitasat opened #38 "Vagueness in Readme"
[code]
Please consider adding here that if one is not going to use translated routes (and hence `prefix`), they need to remove `prefix` field from the config rather than leaving it blank. I did it and that caused very subtle bugs (e.g. paths like `module1/page1` were being translated to `/en/[object Object]/page1`).

[2017-03-31 11:06] gizbo opened #39 "routerLinkActive not set when toggling lang"
Hi,
   I'm experiencing an issue with routerLinkActive. When I toggle the lang using the following
  changeLanguage(lang: string) {
    this.localize.changeLanguage(lang);
  }
It does it's thing and changes the locale and the url accordingly but I loose my nav link highlight controlled by the routerLinkActive.  What should I look for? If I just navigate in without changing locale the highlighting

[2017-03-31 21:26] CamusAran commented on #36
Any update on this?

[2017-03-31 21:30] CamusAran opened #40 "[Help wanted] How to use router.resetConfig() with localize-router?"
I'm trying to dynamically choose which module is shown in root path (not a repro but what I'm trying to implement: https://plnkr.co/edit/Euj4kjDOMQxLJkS8U1P2 ) but I'm running into some issues with integrating localize-router.
I'm guessing the problem is because I'm resetting the config after localize-router has initialized and translated the routes.

localize-router 0.6.2, angular 2.4.0

[2017-04-05 12:25] JochemKuijpers opened #41 "Exception when using a wildcard (**) route without redirectTo"
When using a wildcard route like the following, which is a [totally valid route](https://angular.io/docs/ts/latest/guide/router.html#!#wildcard), localize-router causes an exception (see below):

[code]

[code]

A workaround is to use a `redirectTo` property on the wildcard path and set the component on this other path, like so:

[code]

This has the side-effect that the original path cannot be fo

[2017-04-05 14:18] JochemKuijpers commented on #41
Hmm.. I thought I'd at least make a pull request so you don't need to spend time looking for the line of code.

Looking at the master code though, it seems this issue is [already resolved](https://github.com/Greentube/localize-router/blob/master/src/localize-router.parser.ts#L161), but not yet released.

Any reason why this isn't released yet? Is it possible to release my fix in the meantime as a

[2017-04-07 14:58] meeroslav commented on #40
`LocalizeRouter` works by hijacking and modifying app routes before the application loads.
Your approach unfortunately would not work with `LocalizeRouter`.

I would suggest to mark pointer to root route you want to change and change it without resetting the routes.

[code]

You can find modified plunkr [here](https://embed.plnkr.co/FxS8VXSPtoq2paQHfK8k/).

Not sure how complex your actual scenari

[2017-04-07 15:01] meeroslav commented on #41
@JochemKuijpers Thanks for your effort. I will release this fix in day/two.
It was solved as part of LazyLoading which was unfortunately never successfully tested with AOT on router version 3.x.
Sorry for delay

[2017-04-07 16:37] meeroslav commented on #25
On it. Sorry for waiting.

[2017-04-11 09:29] CamusAran commented on #40
Thanks, I got it working with LocalizeRouter with your example (with some changes in the forEach since the right configs are one level lower when using LocalizeRouter).

If I did have a more complex scenario, eg. dynamic routes coming form a headless CMS, how could that be solved?

[2017-04-11 09:29] #40 closed

[2017-04-11 16:31] meeroslav commented on #41
Solved in release 0.7.0

[2017-04-11 16:31] #41 closed

[2017-04-11 16:32] meeroslav commented on #36
`prepareRoutes` are fixed in version 0.7.0 but AOT is still in clash with Lazy Loading, so lazy loading is turned off at the moment.

[2017-04-12 15:05] meeroslav commented on #20
Closing as this will not be implemented.

[2017-04-12 15:05] #20 closed

[2017-04-14 08:13] #36 closed

[2017-04-18 13:26] meeroslav commented on #25
Version 0.7.0 supports Angular 4

[2017-04-21 11:26] sanioky opened #44 "LocalizeRouterModule.forChild doesn't work in lazy loaded modules"
I use ngx-translate and localize-router in my project.
I have MainModule where add ChildModule as lazy loaded.

const rotes: Routes = [
    {
        path: 'child',
        loadChildren: 'app/child/child.module#ChildModule '
    }
];

NgModule({
    imports: [
        TranslateModule.forRoot(...),
        RouterModule.forRoot(rotes),
        LocalizeRouterModule.forRoot(rotes)
    ]
})

Then in Ch

[2017-04-24 08:15] meeroslav commented on #44
Not sure if I understood your problem exactly. Can you provide a minimal plunkr with this issue?
Correct route in your browser should be e.g. `en/child`.

Note that at the moment lazy loading doesn't work for nested routes. If you have route like `lazy/lazy_child` if you navigate first to `lazy` and then to `lazy_child` everything will work. However if you go directly to `lazy/lazy_child` Router w

[2017-04-24 08:32] meeroslav opened #45 "Lazy loading not working for nested lazy routes"
Note that at the moment lazy loading doesn't work for nested routes. If you have route like lazy/lazy_child if you navigate first to lazy and then to lazy_child everything will work. However if you go directly to lazy/lazy_child Router will report unknown route error, since child routes will not be translated before Route matching mechanism kicks in.

**Steps to reproduce**

- Create a lazy loaded

[2017-04-24 10:56] #38 closed

[2017-04-24 11:04] meeroslav commented on #39
@gizbo Can you provide following information?
- Version of localize-router
- Version of angular
- Route where this is happening

If possible, please provide minimal repo (e.g. plunkr) with this issue.

[2017-04-24 11:21] #37 closed

[2017-04-25 07:21] sanioky commented on #44
You are right.
I have routes like this en/register/step-1.
Will you support such routes in future versions of your extension?
Thank you in advance.

[2017-04-25 07:52] meeroslav commented on #44
It's limited to current angular implementation. You can see request here: [https://github.com/angular/angular/issues/16282](https://github.com/angular/angular/issues/16282).

Until then, here is the issue on `localize-router` [https://github.com/Greentube/localize-router/issues/45](https://github.com/Greentube/localize-router/issues/45)

Does this "solve" your issue at the moment?

[2017-04-25 09:38] brada1703 opened #46 "TypeError: fs.readFileSync is not a function, Cannot find name 'require'."
Hi,

I'm trying to load localize-router and am having the following error:

In order to fix this, I used
`declare var require: any;`

However, then I am still stuck with the following error:

![screen shot 2017-04-25 at 10 32 44 am](https://cloud.githubusercontent.com/assets/16405921/25378800/03934942-29a3-11e7-8565-2f293339b63b.png)

One thing I did was to combine app.browser.module.ts and app.no

[2017-04-25 09:45] meeroslav commented on #46
Hi @brada1703, usign Angular 4 should not be the problem if you are using the latest version of `localize-router`. Mixing browser and node module on the other hand would most likely cause some issues.
Based on your error message, Typescipt is complaining about `fs` which is node file system library and would not work in browser. Same thing applies for `require`.

Why did you combine those two in t

[2017-04-25 10:13] brada1703 commented on #46
Hi @meeroslav

Thanks for your quick reply.

I combined the two to avoid repeating all of my imports and to keep the routes in one location.
Additionally, since the "`export class AppModule { }`" is the same, I didn't think it would hurt.

I have now separated the two into their respective files and it now works!

Great advice! Thanks 👍

(In case someone else has this problem in the future,
When y

[2017-04-25 10:13] #46 closed

[2017-04-26 08:13] brada1703 opened #47 "Changing language brings you back to the home page"
When I click on the following buttons, they bring me back to the home page.
[code]

This is not the desired action. I would instead like it to simply change languages and modify the URL to be /it/pronuncia instead of /en/pronunciation. For example.

I have also tried:
[code]

Notice how I removed

`[routerLink]="'/en'"` and `[routerLink]="'/it'"`

Unfortunately, here, it doesn't change the URL. It

[2017-04-26 08:33] meeroslav commented on #47
Hi @brada1703 ,

in the first code example you have both `routerLink` and `(click)`. Most likely your route gets translated with `changeLang` but then navigation via `routerLink` kicks in and redirects you to home.
Try to remove all routerLink bits and leave just click:

[code]

If you need to mark active language button you can use ngx-translate's `TranslateService` or localize-router `LocalizeSe

[2017-04-26 08:44] brada1703 commented on #47
Thanks again @meeroslav You're the best! 👍

You're absolutely right. The routerLink was the problem. It kept bringing me back to the homepage. Once I removed it, I realized that the problem then was the "changeLang" part.

In case anyone else is having a problem with this, let me show you what I changed.

I realized that I was importing
`import { TranslateService } from '@ngx-translate/core';`
ins

[2017-04-26 08:44] #47 closed

[2017-04-28 14:40] naaambo opened #48 "Ignoring Certain Routes"
Is there or will there be a method for ignoring routes? (For situations like Auth callback)

Thanks for the great library 👍

[2017-04-30 12:00] CamusAran commented on #45
Can you suggest a temporary workaround?

[2017-05-01 10:51] brada1703 opened #49 "AoT Compilation Errors - AppComponent + Client.ts"
I am trying to build the app for production and in the command line can run the following with no problem:

`ng build --env=prod `
and
`ng build --prod --aot=false`

However, I would like to build the dev folder with AoT Compilation.

When I run the following command in terminal:

`ng build --prod --aot  `

I get the following error:

[code]

*side note: I modified the spacing to make it easier to

[2017-05-01 17:54] meeroslav commented on #48
@naaambo Can you please provide more information (example)?

[2017-05-01 17:55] meeroslav commented on #45
At the moment unfortunately not, except for not using lazy loading.

[2017-05-01 18:02] meeroslav commented on #49
Hi @brada1703 ,
As far as I know, there was a change in CLI structure that is causing the error.

Check if this helps: [https://github.com/angular/angular-cli/issues/4888](https://github.com/angular/angular-cli/issues/4888)

Or try to update CLI on your project. [https://github.com/angular/angular-cli#updating-angular-cli](https://github.com/angular/angular-cli#updating-angular-cli)

[2017-05-01 21:51] brada1703 commented on #49
Thanks @meeroslav. I will follow up with these open issues and follow back up here if I find a solution.

I have tried at least two versions of Angular CLI - "@angular/cli": "^1.0.0", and     "@angular/cli": "^1.0.1", with no luck.

[2017-05-02 07:51] naaambo commented on #48
For most routes prepending something like en-Gb is great. However in our system we need to send users back to a generic token handling endpoint which does not have the prefix. The SSO server uses a white-listing system so currently we'd have to register a callback endpoint per language.

So we'd like to be able to configure a route to not need the language prefix.

Thanks.

[2017-05-08 11:58] brada1703 opened #50 "Copying & Pasting URLs not working in production mode"
After compiled and on a live site, when you copy a URL and paste it into another tab, you receive a 404 error.

Reproduce:
- download https://github.com/Greentube/localize-router/tree/cf422d471f2b15f50c6beb3a22375fa894c5c123
- go into CLI folder
- sudo npm install -g @angular/cli
- ng build --prod
- open site, go to another page, copy page,
ex. : http://www.URL.com/de/users/Donald%20Knuth
- paste

[2017-05-08 12:26] meeroslav commented on #48
@naaambo So is this generic token handling endpoint (page?) only for redirection? If yes just assume it's `en/generic_whatever`. If not then there is some content, in which case what language should this generic page be shown in and why not allow users to see localized content?

[2017-05-08 12:28] naaambo commented on #48
Sorry, I should have been clearer, this is essentially a redirect page and contains no content.

[2017-05-08 12:28] meeroslav commented on #48
@naaambo If you can, provide a simple repo that shows your issue.

[2017-05-08 12:31] meeroslav commented on #48
@naaambo I guess then route doesn't really matter and just use standard `navigateTo` to whatever your primary language is. At the moment there is no functionality that allows you to mark certain urls as non localizable. If following my guidelines it doesn't work for you, let me know and I'll try to add this feature as soon as possible.

[2017-05-12 09:50] brada1703 commented on #50
Any update on this? For example, is there a working demo from a production site?

The 404 error is also encountered when refreshing the page.

Is it possible that this could be fixed via hash routing? Since, then the browser isn't looking for a domain of http://localhost:4200/en/users/Donald%20Knuth but instead is looking for the section http://localhost:4200/#/en/users/Donald%20Knuth within the d

[2017-05-12 11:02] brada1703 commented on #50
Fixed!! Super stoked!

With this fix, I can now refresh the browser without it giving me a 404 error and, more importantly, share the links with it giving the second user a 404 error.

Okay. So, it's kind of ugly... I'm using the Hash Location Strategy in this case.

Steps:

- within App.Browser.Module.ts

`import { HashLocationStrategy, LocationStrategy } from "@angular/common";
`
and

[code]

He

[2017-05-12 11:07] brada1703 commented on #50
Can someone help me figure out a way to remove the hashtag from the links?

I'll keep searching in the meanwhile.

[2017-05-12 16:39] brada1703 commented on #49
Or would it be better to put this in a shared module?

[2017-05-13 09:39] brada1703 commented on #49
I was able to get it to compile AoT with your latest [commit](https://github.com/Greentube/localize-router/commit/cf422d471f2b15f50c6beb3a22375fa894c5c123). Thanks @meeroslav

[2017-05-13 09:39] #49 closed

[2017-05-13 09:40] brada1703 commented on #50
In your latest commit, I used the following code for the HashLocationStrategy and it works.

[code]

Thanks!

[2017-05-13 09:40] #50 closed

[2017-05-16 09:01] naaambo commented on #48
Afraid this is not an option, I might try looking at in the next few weeks and make a pull request if I get anywhere, Thanks for the help 🙂

[2017-05-17 15:56] sggonzalezg opened #51 "One module without routing"
How can I use one module without the routing?

I want to do localhost/module
not localhost/es/module or localhost/en/module

It's possible? @meeroslav

[2017-05-24 11:34] meeroslav commented on #51
Currently it's not. However since you are already the second person requesting this ([https://github.com/Greentube/localize-router/issues/48](https://github.com/Greentube/localize-router/issues/48)) I will look into into it.

I will close this as it's duplicate of above mentioned issue.

[2017-05-24 11:34] #51 closed

[2017-05-30 09:56] NKjoep commented on #45
Hi, to me looks like it is not working with any child route.

Can you confirm?

[2017-05-31 14:53] meeroslav commented on #45
@NKjoep What do you mean by "any child route"?

[2017-05-31 15:04] NKjoep commented on #45
I meant _not lazy loaded_ child route. However I think I fixed the issue I had. I ended with a broken configuration.

[2017-06-01 08:00] NKjoep commented on #48
👍  for this. It is useful also when you have to support some legacy urls. Think of the situation when you're rewriting your app and want to keep some url from the old website which wasn't localized or the language parameter was in a different position instead of the root.

| Old url | New url | Do not localize |
| :---         |     :--- | :--- |
| site.com/page1-en   | site.com/en/page1 | /page1

[2017-06-06 10:41] PSTime commented on #45
Hi, do you have any updates for this issue ?

[2017-06-07 08:33] plastikaweb commented on #39
Hi, I've experienced same issue as @gizbo , here you are a plunker: http://plnkr.co/YyBzzt
- Angular 4.1
- localize-router@0.7.0

The selected route gives a yellow background on corresponding item of the main section menu via `router-link-active`, but when changing the language via the language selector menu, the class is not attached to corresponding main section item.

[2017-06-08 12:02] meeroslav commented on #39
@plastikaweb Thanks for the plnkr. I will look into it.

[2017-06-14 21:23] Messilius commented on #45
A work around to this is to add a route in others translation language:

For Exemple:

In appModule
export const routes: Routes = [
  {
    path: '',
    component: NavigationComponent,
    children: [
      {
        path: 'admin', loadChildren: './+admin/admin.module#AdminModule'
      },
      {
        path: 'users', loadChildren: './+users/users.module#UsersModule'
      }
      ]
    }
];

I

[2017-06-15 08:01] NKjoep commented on #45
@Messilius thanks for the tip! have you actually tried that already? :) does it work?

[2017-06-15 12:32] Messilius commented on #45
It work in the project im currently doing. The only thing that dont work is when there is 2 subsequent lazymodule than a lazy child. But with one layer of lazy loading and then child components it work.

[2017-06-23 08:01] aperalta02 opened #54 "multisite lang support without url lang prefix"
I'm working with this package and I'm asking myself if there's any way to get off the URL lang prefix. For example, if the application is executing in different sites: .com, .es, .de, .fr, etc. I'm able to ask to the API the default lang of the site and set up it in the bootstrapped component so application will know the current lang by the response of the API and I wont need the URL prefix. I thi

[2017-06-27 23:45] premiumwd opened #55 "Unhandled Promise rejection: No provider for Location!"

[2017-06-28 14:53] NKjoep opened #56 "Release a new version with the localStorage fix"
Hello,

could you please release a new version with the localStorage fix #37?
The latest tag 0.7.0 doesn't have that fix.

[2017-06-28 16:12] premiumwd commented on #54
@aperalta02  yes, just use ngx-translate

[2017-06-28 16:50] premiumwd opened #57 "on page refresh localize doesn't reset."
I am using ngx-translate and a constructor translate with localizerouter to match and change the lang when someone selects a different language in dropdown.

https://gist.github.com/premiumwd/9da2529037bc32e7aeaf243a9c3687ce

When I refresh page, if I selected a different language it doesn't go back to default lang. Any advice?

[2017-06-29 08:35] NKjoep commented on #57
I think it happens because of the local storage. You have to manually force language with `LocalizeRouterService.changeLanguage(langStr)`.

But be careful, changeLanguage fn does this:

[code]

as you can see every time you change language it tries to reload navigate with the new language.

Hope it helps.

[2017-06-29 09:29] meeroslav commented on #54
As @premiumwd said, in your case you have different languages deployed on different domains, so setting up language via simple config property might be a way to go for you.

`localize-router` is targeted mainly to people that have multiple languages on the same domain.

Does this answer your question?

[2017-06-29 09:30] meeroslav commented on #56
Done just now.

[2017-06-29 09:30] #56 closed

[2017-06-29 09:35] meeroslav commented on #57
@premiumwd

I would have to debug your solution, but I think @NKjoep is right. Your latest language is set in localstorage and is probably overriding the setting in your NavComponent.

Since `LocalizeRouterService` is calling under the hood `TranslateService` (setting languages, setting default language, changing language) you don't need to (and shouldn't) do it on your own.

If localstorage is no

[2017-06-29 12:48] meeroslav commented on #44
Closed due to duplication on #45

[2017-06-29 12:48] #44 closed

[2017-06-29 16:18] premiumwd commented on #57
@NKjoep I just need a hook into translate to reset when refresh, this is a bug I think should be addressed into updated version.

[2017-07-03 06:54] aperalta02 commented on #54
Yes it does, thank you very much.

[2017-07-03 06:54] #54 closed

[2017-07-03 07:39] headonkeyboard commented on #25
I'm also having an issue like this on the new version of localize-router with a lazy module but steps to reproduce are quite different.

App routes :

[code]
Auth routes :

[code]
- When I enter "http://localhost:4200/en/user/subscription" or "http://localhost:4200/en/user/" directly in browser, there is no problem, components are correctly lazy loaded.

- With "http://localhost:4200/fr/utilisateu

[2017-07-03 07:42] headonkeyboard opened #58 ""Cannot match any routes" with links inside a lazy module"
I'm having an issue with a lazy module but steps to reproduce are quite different than [https://github.com/Greentube/localize-router/issues/25](url) .

App routes :

[code]
Auth routes :

[code]
- When I enter "http://localhost:4200/en/user/subscription" or "http://localhost:4200/en/user/" directly in browser, there is no problem, components are correctly lazy loaded.

- With "http://localhost:420

[2017-07-03 10:26] meeroslav commented on #58
It's exactly the problem described in #45. I am closing this as a duplicate.

[2017-07-03 10:26] #58 closed

[2017-07-04 15:23] #27 closed

[2017-07-04 15:23] #32 closed

[2017-07-06 16:01] premiumwd opened #59 "routerlink not working"
Hi,

I am using the code from your cli project for localized routes. I am using a lazy loading approach and applying the routing to the module for the page itself.

**test.module.ts**
[code]

**app.module.ts**
[code]

**locales.json**
[code]

I get the following error when going to /testing page route.

**Update**
This does work with my 404 lazy loading route.

**notfound-routing.module.ts**
[code

[2017-07-06 16:20] premiumwd commented on #59
**Update**

Child routes work when removing the testing from path, 2nd level url paths need to be supported.

[code]

_localhost/en/compute - works.
localhost/en/testing/compute - error._

[2017-07-06 17:47] premiumwd opened #60 "routerlink doesn't show change language in url"
Routerlink also doesn't change url if different language. When I add localize in url [routerLink]="['testing/compute' | localize]" the url doesn't show it in different language I added to .json.

[2017-07-07 17:04] premiumwd commented on #9
@meeroslav any updates? I am having same issue.

[2017-07-11 12:36] meeroslav commented on #60
Can you provide small repo or plunkr showing this problem?

[2017-07-11 12:38] meeroslav commented on #59
@premiumwd Please provide a small repo. For lazy loading issues, please refer to #45

[2017-07-11 23:33] #57 closed

[2017-07-11 23:33] #59 closed

[2017-07-11 23:33] #60 closed

[2017-07-12 17:03] romanlytvyn commented on #39
I'm also interested in a fix for this, any news?

[2017-07-12 17:06] romanlytvyn opened #62 "Preserve query parameters"
Hey guys,

It would be nice to have an ability to preserve location query parameters on language change.
Currently after navigating to a page `/xx/list?limit=10` and changing language via `localizeRouterService.changeLanguage(lang)` the location turns into `/yy/list` without `limit` parameter.

[2017-07-17 17:01] hamstercat opened #63 "Don't prefix two-letter language name for default locale"
Hi there! I have a use case for a project where I need to hide the locale prefix from the URL when it's in the default locale. For example, with the locales `['fr', 'en']` for the URL `/home`:

Currently:
fr => /fr/accueil
en => /en/home

What I need:
fr => /accueil
en => /en/home

I'd like to add a config value to allow for such scenarios. Would you be open to a PR for this use case? Also, while

[2017-07-26 05:36] Chuvisco88 opened #64 "[Feature] Enable HttpClientModule"
Angular introduced the HttpClientModule (https://github.com/angular/angular/commit/37797e2). It is recommended to slowly migrate from HttpModule to this new API.

Would it be possible to extend the localize-router so it supports either of the modules?

[2017-08-01 13:39] meeroslav commented on #64
Hi @Chuvisco88,
It is already supported by extending the `LocalizeParser`. The plan is to completely extract `ngx-translate` and `HttpModule` from parser and have them as optional plugins/loaders to `localize-router`.

Stay tuned for these changes.

[2017-08-01 13:46] meeroslav commented on #63
@hamstercat
Two letter prefix is needed for application to distinguish which language you want to show the page in.

Logic for getting the language is:
- Language from url (the two letter prefix) or
- Language from cache (LocalStorage or Cache) or
- Language from browser or
- First language from the list

Based on this, if you remove the first two (no prefix and no prior history) language will be

[2017-08-03 11:12] Chuvisco88 opened #65 "Disable cachedLang"
I need to disable the cached language and only use the language from url, browser or first in config.

As far as I can see you did the work for that already in `master` but it is not in the latest npm package.

Do you have an estimation, when it will be published?

As always: Thanks for this awesome repository!

[2017-08-03 11:24] meeroslav commented on #65
@Chuvisco88 Hopefully new version will be ready by end of month.
There are some breaking changes so I want to push as much as I can into the next version.
Thanks for the support.

[2017-08-03 11:33] Chuvisco88 commented on #65
Good to know. Just tell me if there is anything I can help you with

[2017-08-07 09:44] inova-de opened #66 "Localize-Router doesn't update the url on changeLanguage call"
Hello everyone,
I am trying to setup a multilingual app with ngx-translate and localize-router.
I have initiated LocalizeRouterModule in the app-routing module like the following:

const medicationsRoutes: Routes = [
    { path: 'medications', component: MedicationsPageComponent },
    { path: 'medications/add', component: AddMedicationPageComponent }
]

const risksRoutes: Routes = [
    { path: '

[2017-08-07 14:38] inova-de commented on #66
Nevermind, a guard was interfering with the localize router service.
I am marking the issue as closed.

[2017-08-07 14:38] #66 closed

[2017-08-09 15:35] gizbo opened #67 "Default route catch all route **"
Hi guys,
   Question, I notices that if I try an undefined route like /en/home2 instead of /en/home it fails trying to resolve 'enhome' ... Here is my routes definition
const routes: Routes = [
{path:'', redirectTo: 'home', pathMatch: 'full'},
{path:'home', component: HomeComponent},
...
{path:'**',  redirectTo: 'home'},      // Catch all
]

Any idea what could I be doing wrong? If I type the exac

[2017-08-09 15:57] gizbo commented on #67
Found my newbie mistake ...
my catch all should of been like :
{path:'**', redirectTo: '**/**home'}

[2017-08-09 15:59] #67 closed

[2017-08-14 02:32] CamusAran opened #69 "Changelog for 0.7.1"
The latest version on npm is 0.7.1 but the latest tag is 0.7.0 on github. Are there any breaking changes?

[2017-08-14 08:21] meeroslav commented on #69
@CamusAran, tag was missing on github. Thanks for pointing it out. New version will have breaking changes though.

[2017-08-14 08:21] #69 closed

[2017-08-14 14:49] #35 closed

[2017-08-14 14:53] meeroslav commented on #65
Solved with https://github.com/Greentube/localize-router/commit/79322db626d55cd10345a07d469206cd3faf93f9

[2017-08-14 14:53] #65 closed

[2017-08-14 17:57] #34 closed

[2017-08-15 06:06] Chuvisco88 commented on #65
Works superbly, thanks!

[2017-08-16 13:21] #48 closed

[2017-08-17 12:15] umeshkumawat opened #70 "Universal server side rendering."
I having defficulties with localize-router in server side rendering.  Would you please update the universal example code?

[2017-08-17 12:17] meeroslav commented on #70
In the meantime, can you clarify what kind of difficulties are you experiencing?

[2017-08-17 13:56] umeshkumawat commented on #70
Hey! thanks for contacting.
Would you please follow the code @ https://github.com/umeshkumawat/Localize-router-universal.git
I took your example code and made some changes per the latest angular universal version. I'll appreciate if you could tell me what I am doing wrong.

[2017-08-22 09:39] umeshkumawat commented on #70
Hi, Did you get a chance to review?

[2017-08-22 16:09] meeroslav commented on #70
Glad you've solved it.
Hope you don't mind if I 'steal' changes in your repo to update [localize-router-example](https://github.com/meeroslav/localize-router-example). I will credit you of course.

[2017-08-22 16:15] umeshkumawat commented on #70
I'd be more than happy. I'll update the code tomorrow and let you know.

Thanks again for that wonderful piece of module.

On 22-Aug-2017 9:39 PM, "Miroslav Jonaš" <notifications@github.com> wrote:

[2017-08-23 04:00] umeshkumawat commented on #70
I have updated the code.

On Tue, Aug 22, 2017 at 9:44 PM, Umesh Kumawat <ukumawat@gmail.com> wrote:

[2017-08-23 08:00] #63 closed

[2017-08-24 08:59] meeroslav commented on #64
This will be closed with next version of `localize-router-http-loader`. At the moment `localize-router` no longer depends on HttpModule

[2017-08-24 08:59] #64 closed

[2017-08-24 13:42] umeshkumawat opened #71 "HELP: - Create dynamic route."
Hi,

I want to do something like the followings -
**/en/${value_of_choice}/route**

where:
**${value_of_choice}** - some value based on the chosen language.
Any help is appreciated.

[2017-08-25 02:53] #70 closed

[2017-08-25 08:13] meeroslav commented on #71
Is this `value_of_choice` fixed value?
* If yes, then you can provide it directly in the route translations. Just define your route as e.g. 'value_of_choice/route'.
* If not, then define route as `{value}/route` (rather generic unfortunately), and then you can handle it manually in your code based on language.

For more help please provide a minimal repo or plunkr with your scenario

[2017-08-25 09:43] umeshkumawat commented on #71
The `value_of_choice` is a dynamic value.
Unfortunately I have no experience with plunkr, would you please give me some hint how should I handle the dynamic route based on language.

[2017-08-26 10:58] George02 commented on #45
So .. what's the status of this ?

[2017-08-26 15:10] CamusAran commented on #45
It's dependent on angular updating the router, here's the issue: https://github.com/angular/angular/issues/16282

Latest comment from the angular team here: https://github.com/angular/angular/pull/16308#issuecomment-315222072

[2017-08-29 11:09] umeshkumawat commented on #71
I was able to customize the prefix with my `value_of_choice` in url using the` localize-router` source code. It is working just fine. I modified the code as follows -

1. _localize-router.parser.ts_ - In `urlPrefix()`, I made it parametrized with one string parameter.

2. _localize-router.parser.ts_ - In `translateRoute()`,  I used `urlPrefix()` in the following location-

3. _Localize-router.serv

[2017-08-29 12:27] meeroslav commented on #71
Hi, I still don't know exactly that is you use case for which this would be necessary.

`urlPrefix` will remain getter and unchanged as it's critical for few functionalities in localize-router.

In order to add new method which you can use I need to understand the exact problem you are trying to solve.
Can you please provide more detailed example how and why this would be used (with "exact" routes

[2017-08-29 12:35] umeshkumawat commented on #71
Hi,
Let me explain you. I have a requirement in a project. The url should include language and currency, if user changes the language, currency will change accordingly. for example -
[code]
Thanks,

[2017-08-29 13:18] meeroslav commented on #71
There are two possibilities.

1. Always link currency to language (works most of the times)
    Set up your routes like this:

[code]

    And then in your translation file e.g. de.json have:
[code]

2. Use currency as route parameter
  Reason: Some countries are multilingual (e.g. Switzerland, Belgium) while some share same language but not the currency (e.g. USA, UK, Austrialia). Simply linking

[2017-08-30 07:58] #62 closed

[2017-09-07 20:41] alexanderknapstein opened #73 "Can't resolve all parameters warning"
For production build, I get the following warnings. Maybe I'll have the time in the next days to dive into that then I'll give you a note. Cheers, Alex:

Can't resolve all parameters for ManualParserLoader in C:/Users/alexander.knapstein/Development/.../node_modules/localize-router/src/localize-router.parser.d.ts: ([object Object], [object Object], [object Object], ?, ?). This will become an error

[2017-09-07 20:45] meeroslav commented on #73
I will look into it. What version of Angular is this happening on? Also, are you using CLI or some custom build/seed?

[2017-09-08 06:35] alexanderknapstein commented on #73
I'm using 4.3.6 and CLI

[2017-09-08 07:53] meeroslav commented on #71
@umeshkumawat Did any of these solve your issue?

[2017-09-12 23:32] deantoni opened #74 "Redirect to default language"
Hello,

I was wondering there's a known workaround to deal with this:

Perhaps, an event I can subscribe to and check if the route was not found because the language was missing? And then add the default language?

[2017-09-13 08:48] meeroslav commented on #74
Hi @deantoni,
With latest version you can use parameter `alwaysSetPrefix` to skip setting prefix for default language. This way your "old" previous routes would still work.

Other than that you can subscribe to router events and react when event of type `NavigationError` happen. I personally would not recommend this exception driven approach.

[2017-09-13 17:46] deantoni commented on #74
Thanks for the quick reply @meeroslav .

 alwaysSetPrefix worked great!

[2017-09-13 17:46] #74 closed

[2017-09-15 12:33] pfrendo opened #75 "Localized pipe not working on routerLink that has outlets"
When I set up `LocalizeRouterModule` and I try to attach `| localize` pipe to `[routerLink]="[{outlets: { modal: ['login'] } }]"` it gives an error that it can't match any routes.

I tried the following:

`[routerLink]="[{outlets: { modal: ['login'] } }] | localize"`
`[routerLink]="[{outlets: { modal: ['login' | localize] } }]"`
`[routerLink]="[{outlets: { modal: ['login'] } | localize }]"`
None w

[2017-09-16 16:13] MisterEffix commented on #45
Dear Meeroslav,

I'm stuck with this problem of child routes and lazy loading.
Route translations is a must for multi languages website.

I have made a GIT that reproduce exactly the problem (if it can help you)...

Here is it : https://github.com/MisterEffix/localize-router-and-sub-routing

[2017-09-17 07:51] NKjoep commented on #45
As I commented before in some other PR, if you look at this fn from the sources:

[code]

Everything is ok (page stays the same and translations are in place) until the `_this.router.navigateByUrl()` is called.

What do you think?

(ps = also I'd use a take(1) there --> `this.parser.translateRoutes(lang).take(1).subscribe(...`)

[2017-09-18 16:53] pfrendo commented on #75
Any update?

[2017-09-20 16:27] MisterEffix opened #76 "pipe localize does not handle "../""
Angular routing allows us to use "../" syntax in a routerLink :
- [routerLink]="['../']"
- [routerLink]="['../foo']"

But, it does not seems to work with " | localize".

[2017-09-26 08:27] MisterEffix commented on #76
Any comments on this ?

[2017-09-26 19:49] lifenautjoe opened #77 "URL not translated to non default language?"
Hello,

I have followed the sample usage configuration with the following routes.

[code]
on my translation files

en.json
[code]
es.json
[code]

and on the localizeRouterHttpLoader json
[code]

The routes `/en/about-us` and /es/about-us` work and change the language accordingly but the route `/es/acerca-de` is not found.

Is this expected behaviour? Is this library supposed to translate paths too

[2017-09-27 08:18] meeroslav commented on #77
Hi @lifenautjoe,

Your path `es/acerca-de` should work. If you are setting the default language in AppComponent that would most likely override settings from LocalizeRouter and could cause this behaviour. Try to use LocalizeRouter to set your default language. Check docs for more information on how default language setting works.

If that doesn't help, please create plunkr or provide link to repo

[2017-09-27 08:22] meeroslav commented on #76
That's odd, since it works on the demo project included in the solution and this scenario was tested.
Please check [https://github.com/Greentube/localize-router/blob/master/demo/cli/src/app/users/user/user.component.html](https://github.com/Greentube/localize-router/blob/master/demo/cli/src/app/users/user/user.component.html).

Can you tell me what is the url shown in browser footer when you hover

[2017-09-27 08:25] meeroslav commented on #75
@pfrendo, unfortunately due to complexity of the router not all the functionalities were covered.
I will try to implement this as soon as possible. Sorry for the delay.

[2017-09-27 19:38] lifenautjoe commented on #77
Hi @meeroslav,

I made the Plunkr 🎉 .

I can reproduce the same issue in there as you will see when trying to go to the spanish version of a page and found another issue:

When the language changes, the page url doesnt get re-evaluated.
If this is not desired functionality, what are we to do when the user selects another language? How can we send them to the page they are currently but in another

[2017-09-29 06:48] pfrendo commented on #75
@meeroslav thank you !

[2017-09-30 13:46] George02 opened #78 "Change route path parameter (project-title)"
Please delete this silly post.

[2017-10-02 21:19] Quovadisqc opened #79 "defaultLang doesn't return the same result on the browser and the server"
Here's a simple test:

[code]

This will return different results depending on the platform.

Server:
[code]

Browser:
[code]

[2017-10-09 15:54] alexbenitez opened #80 ".NET Core 2.0 starter and localize router error"
I'm having problems trying to use the localize-router with .NET Core 2.0 (using the "dotnet new angular" starter) at the time of prerendering. When I enable server-side debugging I can see that LocalizeReouterHttpLoader "appears" to successfully read the locales.json file (if I hard code an invalid file.. e.g. locales1.json I see 404 so I'm sure it is locating the file as shown in the trace below)

[2017-10-12 06:42] AttaHo commented on #47
I used `(click)="changeLanguage('en')"` and the strings are translated but the url does not update accordingly.

I am also getting `Uncaught (in promise): TypeError: Cannot read property 'component' of null` when I change to another language.

Did anyone else have this problem? Please help.

[2017-10-12 12:40] xunra opened #81 "Changing language from non-default language to default language"
When changing language from a non-default language to the default language the url adds the default language prefix even with alwaysSetPrefix set to false.

Meaning if your default language is en and you are on a page de/about and change the language to english it will change the url to en/about not just /about as you would expect.

[2017-10-19 03:45] fysp11 commented on #75
Try this:
`[routerLink]="[('/' | localize),{outlets: { modal: ['login'] } }]"`

[2017-10-22 17:06] qubiack opened #82 "Angular 4 Universal project - problem with "Unexpected token import""
Hi, I use your library, but it's impossible to build a project with this library for Angular 4 Universal server. It's look like a problem with you library export files - you can find more details about this problem hire:
https://github.com/angular/angular-cli/issues/7200
especially in Toxicable commented on Sep 12.

What I finnally see is:

[code]
--- EDIT
Temporary I use this solution: https://st

[2017-10-24 15:22] meeroslav commented on #78
What did I miss?

[2017-10-24 15:22] #78 closed

[2017-10-24 15:23] meeroslav commented on #79
Hi, sorry for delay. Can you provide also the configuration of localize-router you are using?

[2017-10-24 15:24] meeroslav commented on #80
Can you please provide a simple repo that reproduces the error? Thanks

[2017-10-24 15:26] meeroslav commented on #81
Thanks, I will look into it as soon as possible

[2017-10-24 15:29] meeroslav commented on #82
Thanks for bringing this up. I will look into it

[2017-10-24 15:56] umeshkumawat commented on #82
Can this problem be solved using webpack-node-externals module?

I'm running an Angular 4 Universal project with it with no problems.

On Oct 24, 2017 8:59 PM, "Miroslav Jonaš" <notifications@github.com> wrote:

[2017-10-25 02:34] alexbenitez commented on #80
Hi Meeroslav,

Sorry for the delay... Unfortunately I'm not able to follow up in the next couples of weeks (I'm travelling). Unfortunately I don't have a simple repo handy. I was modifying a bigger project but we decided to postpone the feature.

I would like to give it a try using the starter from the universal team (https://github.com/MarkPieszak/aspnetcore-angular2-universal ). This starter alr

[2017-10-29 17:02] Paul75 opened #85 "error (warning) when compile on prod mode"
Hello,

I have an error (warning) when compile on prod mode :

`10% building modules 7/7 modules 0 activeWarning: Can't resolve all parameters for ManualParserLoader in /Users/far-paul/Sites/lucy/crous78-front/node_modules/localize-router/src/localize-router.parser.d.ts: ([object Object], [object Object], [object Object], ?, ?). This will become an error in Angular v5.x
Warning: Can't resolve all

[2017-11-01 20:42] nutsoftpt opened #86 "'OpaqueToken' was not found in '@angular/core'"
After the update to angular 5, we have this warning.

WARNING in ./node_modules/localize-router/src/localize-router.config.js
11:28-39 "export 'OpaqueToken' was not found in '@angular/core'

Thanks

[2017-11-02 18:18] Empereol opened #88 "Error: The pipe "localize" could not be found"
I'm trying to use the `localize` pipe to provide the proper routerlink seen below:

[code]

But doing so results in an error: "Error: Template parse errors: The pipe 'localize' could not be found"

Is there anything in particular you need to do to use the localize pipe?

[2017-11-02 18:25] Empereol commented on #88
Solved it. Entirely my own mistake. I wasn't including/initializing the module and routes properly in my lazy loaded components.

[2017-11-02 18:25] #88 closed

[2017-11-02 19:12] Empereol commented on #45
Has there been any resolution to this?

[2017-11-03 08:53] qubiack commented on #82
@umeshkumawat I think that Babel or recompile are only solutions for this issue.

[2017-11-04 02:41] alexbenitez commented on #80
Unfortunately the project in which I had got this specific error has gone through many different changes and replaced with a totally different starter (got different errors).

Closing this issue and opening a new one along with a reference repo.

[2017-11-04 02:41] #80 closed

[2017-11-04 03:26] alexbenitez opened #89 "Integrating localize-router to the aspnetcore-angular universal starter"
I'm unable to integrate the localize router to a project based on the aspnetcore-angular2-universal starter from Mark Pieszak (based on angular 5). The starter already includes the i18n files which are properly used server (pre-rendering) and client side. I tried unsuccessfully to integrate and use the localize-router module with this becoming-popular .net core starter.

I created a repo at [spnet

[2017-11-06 14:28] zhongjixiuxing commented on #86
please update to npm

[2017-11-07 14:12] fysp11 commented on #86
@zhongjixiuxing, can you explain what exactly you mean? I understood "Update you localize-router package to latest". But the the latest version (v1.0.0-rc.0) carries the old OpaqueToken, right?

[2017-11-07 14:18] zhongjixiuxing commented on #86
yes, i'm use npm install latest package is include old OpaqueToken code... so, my new project can't run in angular5 with localize-router package

[2017-11-07 16:06] #86 closed

[2017-11-07 16:08] meeroslav commented on #85
Hi @Paul75, can you provide more information about your setup:
- Version of Angular
- Build & deploy setup (CLI or something else)
- If possible, also small repo

Thanks

[2017-11-07 16:10] meeroslav commented on #89
I will look into it as soon as possible. Thanks

[2017-11-07 22:09] Paul75 commented on #85
Hello;

- Version of Angular : 4.4.6
- Build & deploy setup (CLI or something else): ng build --base-href=/url/

Thanks

[2017-11-08 12:36] xunra opened #90 "Wildcard routes and changing language"
When changing the language while on a wildcard route it changes the url to /**

It seems that the ActivatedRouteSnapshot.routeConfig.path returns ** and everything breaks after that.
It wasn't an issue while using angular 4.x so I'm assuming it's a change in angular 5.x.

[2017-11-09 13:10] Florent-Passerelle commented on #85
Hi,

I think it's a duplicate of #73.

Regards

[2017-11-09 18:54] DominicBoettger opened #92 "URL is never translated"
Hello,

i have the problem that no route url is translated.v I wanted that the url /en/imprint is named  /de/impressum in german but only the /de/imprint works.

I am using 1.0.0-rc0.

de.json
[code]

locales.json
[code]

The locales.json is loaded by the browser and translation in the content also works. I think localized-router is not reading the ROUTES.

Any idea?

Thanks
Dominic

[2017-11-10 09:53] meeroslav commented on #85
Close as it's a duplicate

[2017-11-10 09:53] #85 closed

[2017-11-10 09:55] #82 closed

[2017-11-11 21:43] meeroslav commented on #92
@DominicBoettger, can you provide some small demonstration repo? Based on your code parts, everything seems fine.

Is your `imprint` route lazy loaded? That is the only potential reason I see, other than having TranslateService referenced in AppComponent.

[2017-11-11 21:49] #90 closed

[2017-11-11 21:50] #81 closed

[2017-11-11 21:54] meeroslav commented on #45
Finally yes. I will implement the solution in the upcoming days.

[2017-11-16 02:56] vgossking opened #94 "Help with angular 5.0.0 universal"
Hi, I have some issue with angular 5, I config for universal router but it is only working with /en url. Other url cannot server-side render. Here is my app.server.module.ts

[code]

Here is my app.module.ts

[code]
Angular version 5.0.0, router v5.0.0, cli 1.5.0
"localize-router": "^1.0.0-rc.1"
"localize-router-http-loader": "^1.0.1"
 "ngx-translate/core": "^8.0.0",
 "ngx-translate/http-loader":

[2017-11-16 12:56] xunra commented on #94
You are initializing LocalizeRouterModule twice. Once in AppServerModule which imports AppModule.
Make sure to only do it once. Either make a new module for browser and load it there and in the server module or make a loader in AppModule which checks what platform you are using and returns the correct loader.

[2017-11-17 03:32] vgossking commented on #94
Thank you, I solved it. Thanks for the great lib

[2017-11-17 03:39] #94 closed

[2017-11-20 08:57] vgossking opened #95 "Problem when change language with children route"
Hi, I have an issue with the change language of localizeService.
if i use this code, when change language from en/place it's redirect to de/
[code]
But if i use this, it works well,can you please tell me why?:
[code]

[2017-11-20 23:13] GoshaFighten commented on #73
I am getting the same issue. You can see [my project](https://github.com/GoshaFighten/dx-ngx-application). Run `npm run build -- --prod`. You will get

[code]

Output from `ng --version`:
[code]

[2017-11-22 08:42] qubiack commented on #73
I have similar warning when I use Angular Universal:
 10% building modules 4/4 modules 0 activeWarning: Can't resolve all parameters for ManualParserLoader in /home/xxxx/Projects/angular4-cli-seed/node_modules/localize-router/src/localize-router.parser.d.ts: ([object Object], [object Object], [object Object], ?, ?). This will become an error in Angular v5.x
Warning: Can't resolve all parameters fo

[2017-11-22 16:41] Chervychnyk opened #96 "Can't render routes with angular-universal"
I encountered problem when using this library with angular universal. I made proper setup according to your notes about using localize-router for server side rendering and angular-cli guide. It builds and works fine, but renders only root route with 'ru' locale. It doesn't recognize 'en' url parameter and doesn't render other routes at all.
When I add skipRouterLocalization parameter in routes con

[2017-11-23 13:31] robinabganpat commented on #45
Currently having the same issue as mentioned here. I'm curious about the solution you came up with.

[2017-11-25 11:06] DominicBoettger commented on #45
My production build is always broken and i get a 404 when loading the lazyloaded frontpage. I get a 404 when loading the page. Everything works when not creating a production build.

[2017-11-25 22:44] meeroslav commented on #95
@vgossking Can you please provide small plunkr/repo where this can be reproduced?
Thanks

[2017-11-25 22:46] meeroslav commented on #96
@Chervychnyk Please provide minimal repo where this can be reproduced. Thanks!

[2017-11-26 22:14] #39 closed

[2017-11-27 14:59] meeroslav commented on #73
Can you check if this is still happening with the latest version of localize-router: `1.0.0-rc.3`?

[2017-11-28 08:28] Florent-Passerelle commented on #73
Same error with version `1.0.0-rc.3` and Angular CLI.
[code]

[code]

[2017-11-28 12:01] meeroslav commented on #73
Referenced issue in https://github.com/angular/angular/commit/61028fb0e83153357821ef7b52797c641145fa7c

[2017-11-28 12:03] #73 closed

[2017-11-29 08:47] bobsingor opened #99 "Cyclic dependency error by using three modules: LocalizeRouterModule, TranslateModule, TransferHttpCacheModule"
I need to use these three modules in my project:
TranslateModule LocalizeRouterModule TransferHttpCacheModule

Somehow these are causing a cyclic dependency error. Also did a post on StackOverflow
https://stackoverflow.com/questions/47510536/cyclic-dependency-error-transferhttpcachemodule-localizeroutermodule-translate

And created a plnkr to reproduce this issue: https://plnkr.co/edit/qlUQ866JzTa

[2017-11-29 09:47] meeroslav commented on #99
It's interesting problem. I'll try to assist you as soon as possible.
Not sure why your question got down-voted on `stack overflow`.

[2017-11-29 19:48] meeroslav commented on #45
@marko999, this bug was fixed and closed 4 days ago.

Please upgrade to version `1.0.0-rc.3` to see the changes.
If you want to see it in action, refer to `demo/cli` in the solution.

There will be a public github page soon.

Let me know if there is anything else I can help you with.

[2017-11-30 01:51] CamusAran commented on #45
Thanks for fixing the bug!

I haven't had time to check out the new version yet but do you think there will be any problems with extending your `LocalizeRouterConfigLoader` to catch errors from the `load()` method like [this](https://github.com/angular/angular/issues/12289#issuecomment-346972665)?

[2017-11-30 09:46] meeroslav commented on #45
@CamusAran, it's safe to extend `LocalizeRouterConfigLoader`as long as the functionality is kept. There might be problems though if some other Module creates it's own override of `SystemJsNgModuleLoader` and then those two end up in a race condition.

Maybe you'd like to propose improvement of the `LocalizeRouterConfigLoader` by adding error handler on load?

[2017-12-04 14:49] imsingh commented on #99
@bobsingor @meeroslav  this seems to be a conflict between HttpClientModule and TransferHttpCacheModule.

Take a look at this plunker https://plnkr.co/edit/7Plnvz?p=preview
Still don't know the solution for this yet.

[2017-12-04 20:45] marko999 opened #101 "translateRoute with lang parameter?"
It will be neat to be able to run translateRoute for any passed language, for example:
[code]
In current case that I have I cannot switch language using changeLanguage but I need to use rendered routes to invoke translation, for example:
[code]

where `switchLangUrl` I can translate what that route with other language would be...

[2017-12-07 08:20] CamusAran commented on #45
@meeroslav I did think about suggesting that but I don't know if it is in within the scope of the package. Ideally it'd be implemented upstream but that issue is over a year old now.

What do you think?

[2017-12-07 10:12] meeroslav commented on #45
@CamusAran generally, it's not within the scope of this package. But then again, having conflict with another loader is not desired behavior either.

If you think this error handling is still needed, we can make LocalizeRouterConfigLoader extendable and replaceable. That way you can create external package for people that need error handling.

[2017-12-09 10:30] CamusAran commented on #45
@meeroslav Thanks, I'll get back to you once I've had a chance to work on it (most likely next year).

[2017-12-14 20:25] kareljuricka opened #102 "Can't changelanguage to default with alwaysSetPrefix = false"
Hi,

i tried to changed language to default with localizeRouterService.changeLanguage(defaultLang). But when I do it, I got error message:
[code]

When i set alwaysSetPrefix = true it works but my goal is to have default language without prefix.

I also noticed that in my case when I call changeLanguage that is always redirected to homepage with specific new language in url. It can be relative wit

[2017-12-18 16:08] imsingh commented on #102
@kareljuricka can you replicate the issue with a Plunker?

[2018-01-03 16:46] manzonif commented on #99
I guess no. It working only if TranslateModule.forRoot() stay empty.

[2018-01-09 23:27] Jassmin586 opened #103 "Translate page title on route's object"
Is there any way to translate page title depending on routes (like 'Register' on screenshot)?

![image](https://user-images.githubusercontent.com/19594765/34748461-e40b3e06-f59c-11e7-85b9-0659a035eee9.png)

[2018-01-10 09:31] meeroslav commented on #103
Hi @Jassmin586, which component is using the title from route's data object?

You can use titleService as described in ToddMotto's blog: [https://toddmotto.com/dynamic-page-titles-angular-2-router-events](https://toddmotto.com/dynamic-page-titles-angular-2-router-events)

And then combine it with translate service like this:

[code]

[2018-01-10 11:05] manzonif opened #104 "Lazy loading not working with flex-layout"
Using FlexLayoutModule in lazy module, cause:
ERROR Error: Uncaught (in promise): Error: StaticInjectorError[LayoutWrapDirective]:
Same code works fine in Home module.

I reproduced the issue in [this repo](https://github.com/manzonif/test-Localize-Router), based on demo/cli.

I think this problem also affects other modules, such as angular / material.  I'm not sure about this.

[2018-01-10 17:48] Jassmin586 commented on #103
That's exactly what I was looking for. Thanks a lot! :D

[2018-01-11 10:01] #103 closed

[2018-01-12 13:31] manzonif commented on #104
I think I found the problem.
The origin is in this piece of code:

[code]
([from here](https://github.com/angular/angular/blob/b3eb1db6dd57a0820cfc94af5460ceb3fea20610/packages/core/src/di/injector.ts))

I'm not sure why, but, basically, by loading the lazy module without the LocalizeModule the value of **notFoundValue** is null, while in the version with the LocalizeModule it is equal to the _THR

[2018-01-12 16:20] #104 closed

[2018-01-18 14:33] osv opened #107 "ngOnDestroy is missing in pipe"
Hi, I just dig
https://github.com/angular/angular/blob/5.2.1/packages/common/src/pipes/async_pipe.ts#L80
and found that they use for `async` pipe ngOnDestroy to unsubscribe. I think this should be implemented in this in pipe too because of subscription:

[code]

But I'm not sure, don't tried your package. Maybe this is false alert :), close it after read this

[2018-01-21 11:09] #107 closed

[2018-01-25 10:01] janvuk commented on #74
I know the issue is closed but I though I would post this for people coming from google looking a qck fix :p

I get errors using _alwaysSetPrefix_ (and also I don't it to work without a prefix). So I added this to my app.component:

[code]

[2018-02-14 15:26] Dok11 opened #110 "Are you ready for Angular 6?"
In building app I have warning:
[code]

[2018-02-15 11:04] ranavc32 opened #111 "Universal support for latest version of Angular"
Hi, The example we have with universal is outdated as universal-cli has been deprecated , will it be possible for you to update the example or post a new repository with angular 5 and universal support. :)

Thank you ...!!

[2018-02-16 14:10] qubiack commented on #110
Don't worry about this. In Angular 4 was a warning that this will become an error in Angular 5.

[2018-02-18 16:35] dexterionut opened #113 "How do you load the localize router from external api?"
Hi. Can someone help me to modify this:
[code]

to load locales and prefix from external api, using the get method from HttpClient?

[2018-02-18 19:39] dexterionut commented on #113
I've managed to modifty it to load the locales from an api using HttpClient's get.
This is the modification if somebody is looking for it:

[code]

[2018-02-18 19:39] #113 closed

[2018-02-19 13:00] kamil-zielinski commented on #102
I have the same problem.

[Here's a Plunker](https://embed.plnkr.co/Mh5g7NPbB1S83JPNyKk6/). Click 'Change lang to Spanish' and later 'Change lang to English' to see error in the console.

[2018-02-20 10:02] xunra commented on #102
I'm pretty sure my PR #97 fixes this, sadly a new version hasn't been released since it was merged.

[2018-02-20 10:36] kamil-zielinski commented on #102
Yes, it seems to be related. Can't wait for this to be released. Thank you @xunra.

[2018-02-22 11:24] yjaaidi opened #114 "v1.0.0-rc.4 release"
Hi @meeroslav!

First of all, thank you for the great job you are doing with this package ! 🎉

It would be awesome if you could release the v1.0.0-rc4 with the latest changes. At Wishtack, for the moment, we are using the master branch as we need the #104 fix 😉and we would love to point on a version instead of a branch or commit tag.

Thank you in advance and keep up the good work!

[2018-03-02 10:37] azzimuth opened #115 "Not working with Angular 5.2.7"
I was perfectly working with Angular 5.2.1 but it stopped working once Angular 5.2.7 became available. Any ideas when a new compatible package will be released?

[2018-03-04 12:47] MR-MAP commented on #99
any solution for solve this ?

[2018-03-05 11:51] Yomyer commented on #115
It works well until version 5.2.6 :'(

[2018-03-05 15:32] gizbo commented on #115
Confirmed. not working with 5.2.7. Any idea what's going on?

[2018-03-10 21:50] yarikshlyakhov commented on #115
there are any estimation when this issue will be fixed?

[2018-03-14 16:30] chintan13 commented on #115
yes it seems there is some update in 5.2.7 for router

router: don't mutate route configs (#22358) (8f0a064), closes #22203

I am not getting what is changed, if any one can help me I'd love to contribute for it

[2018-03-15 09:19] cbetrifork commented on #115
It seems that only when using changeLanguage() and then using any route, it breaks.

And it is only the "@angular/router", that can't be upgraded to "5.2.7", downgrading to "5.2.6" works for now.

For a minimal testing repo, use your own demo project "cli", it breaks the same way.

[2018-03-15 14:56] chintan13 commented on #94
@vgossking  can you please provide working demo with angular universal

[2018-03-16 14:23] Roelensdam commented on #75
Is it possible to do it programmactically with "router.navigate()" ?
I'm unable to navigate in my outlet defined in the AppRoutingModule.

[code]

I'm trying to have wizard in a pop-up over the actual content. It seems impossible with ngx-translate when working with routes outlets....

Any help will be appreciated :)

[2018-03-22 23:35] Hezard commented on #115
Hi all!
I found an issue, its new immutable function in angular router
https://github.com/angular/angular/pull/22358
they changed this method
[code]

After that, we can't use shared object (this.parser.routes) between angular router and localize router.
Also I found few other broken things after this change:
1) Method translateRoutes of localize router has inner Observable with async data which ca

[2018-03-27 07:39] arthurhamon commented on #111
+1 need this

[2018-03-27 08:18] arthurhamon commented on #99
Need help for this one too

[2018-03-28 09:04] meeroslav commented on #71
Closed due to inactivity

[2018-03-28 09:04] #71 closed

[2018-03-28 09:05] meeroslav commented on #76
Closed due to inactivity

[2018-03-28 09:05] #76 closed

[2018-03-28 12:14] abuttez commented on #99
I have the exact same problem, is there any solution to fix it ?

[2018-03-28 12:21] ChrisHendrX commented on #99
Same issue, any solution ? :)

[2018-03-28 21:31] marko999 commented on #45
Still doesn't work for me, `changeLanguage` method is breaking redirecting to default route for that module...other case when it needs a workaround is when user wants to land to lazy loaded child route, I need `pathMatch: 'full'` and duplicated translated route in order to make it work

[2018-03-29 17:45] Empereol commented on #45
Looking at the `demo/cli` example app... When I console out the instantiated LocalizeRouterService each of the routes in the object have a `data.localizeRouter.path` property which coincides with the path specified in the RouterModule routes.

When I do the same for my lazy loaded module, there is no `data.localizeRouter.path` property for each of the routes.

[2018-03-31 22:55] Empereol commented on #45
I fixed my problem by creating explicit routing modules which get imported into the main module like the `demo/cli` app has done...

ex:
[code]

This did create a new issue when trying to load the lazy module... `Error: StaticInjectorError[InjectionToken CompositionEventMode]:`

This is currently being discussed (with a temporary fix) here: https://github.com/angular/angular-cli/issues/8917#issuec

[2018-04-02 19:33] marko999 commented on #45
For me it still works only on default route of that lazy loaded module...If I hit for any other route `changeLanguage` it will just redirect me to default page for the module with language I have passed into `changeLanguage`...help?

[2018-04-02 21:10] marko999 commented on #45
can we reopen this issue @meeroslav ?

[2018-04-04 10:11] MR-MAP commented on #111
+1

[2018-04-04 19:17] gilsdav commented on #111
I did this repo and use it as reference in my company : https://github.com/gilsdav/angular-universal-localize-router

[2018-04-04 19:33] gilsdav commented on #92
had the problem (with "ROUTES." prefix) and fixed by changing translation file by :
[code]
with locales.json
[code]

[2018-04-04 19:51] gilsdav opened #117 "import order manage issues"
Hello,

I have issues in the two possibles import orders.

- If I put `RouterModule before LocalizeRouterModule` I have issues with **ReactiveForm** on Angular Universal

- If I put `LocalizeRouterModule before RouterModule` everything **works fine if I don't need to translate lazyloaded child routes**. But i do, It doesn't works (works in the other order)

So it's impossible to have a fully works

[2018-04-04 19:59] gilsdav commented on #77
Have you try with :
[code]
?

[2018-04-04 20:07] gilsdav commented on #95
had same problem with `''` path in parents + in child (when not lazyloaded).
So use only one `''` by module.

[2018-04-06 23:34] gilsdav commented on #117
# Solution
I created a module loader that is a merge between yours and the Universal one: https://github.com/gilsdav/universal-localize-module-loader

[2018-04-09 07:31] ranavc32 commented on #111
@gilsdav , giving your work a shot. Will update you on the same :)

[2018-04-09 09:26] ranavc32 commented on #111
@gilsdav  David, I tried your repository but its not changing URL while changing the language using button on UI for example I created two buttons of dashboard page and bind it with events like this

`
<button  class="col-1-4" (click)="switchLanguage('en')">English</button>
<button  class="col-1-4" (click)="switchLanguage('fr')">French</button>

switchLanguage(lang) {
      this.localizeService.ch

[2018-04-10 07:46] meeroslav commented on #117
Hi @gilsdav, this is amazing and simple solution. I would ask you kindly to create a full compiled package for this solution.

If you need help, let me know.

I can also add it on our org and grant you full access to that repo.

[2018-04-10 07:48] meeroslav commented on #111
Please check if #117 solves your problem

[2018-04-10 07:51] meeroslav commented on #114
Done, sorry for the delay.

[2018-04-10 07:51] #114 closed

[2018-04-10 18:05] gilsdav commented on #117
Hello @meeroslav, you are right I will update my repo to create a npm package. It will be more easy to use.

[2018-04-10 19:47] gilsdav commented on #111
Hi @ranavc32, sorry for the inconvenience and thank's for your return. The problem was related to [this issue](https://github.com/Greentube/localize-router/issues/115).
I downgraded router version to 5.2.6 for now.
Check my repo again, I added your switchLang on dashboard page to test if it works.

[2018-04-10 22:05] gilsdav commented on #117
@meeroslav done on my repo : https://github.com/gilsdav/universal-localize-module-loader and on NPM : https://www.npmjs.com/package/localize-router-lazy-universal-module-loader . I chose a name that fits better with your library.
Thank's again for your amazing works on this lib.

[2018-04-10 22:45] gilsdav commented on #79
Doesn't look's like a bug for me.
How localize-route find language :

1. From url (availability : browser + server)
2. From cache (availability: browser) because the server is fully stateless
3. From browser (availablility: browser)
4. First of lang array (availability: browser + server)

So only url can be used to specify other language than default (first of array).

[2018-04-10 22:51] gilsdav commented on #96
@Chervychnyk You can take a look at this working example : https://github.com/gilsdav/angular-universal-localize-router

[2018-04-11 18:33] gizbo opened #118 "path with :id not being resolve"
Hi guys,
   I scratching my head here.  My route /en/users/12  is not resolving... Error: Cannot match any routes.   But all other routes that are fix (no params) are working just fine in any language...
Any idea what I've missed?
Thanks so much,

[2018-04-12 05:28] ranavc32 commented on #111
Thanks @gilsdav . Will give it a try today :) and will update you.

[2018-04-12 12:50] ranavc32 commented on #111
Hi @gilsdav , So I gave this repository again a shot and everything works fine but only one thing I didn't understand in URL bar its still showing

`http://localhost:4200/en/ROUTES.dashboard`

So this **ROUTES**, how can we just have

`http://localhost:4200/en/dashboard`

Any help will be appreciated. :)

Though while going through code I saw

[code]

Here you are passing ROUTES to the Manual pars

[2018-04-12 12:55] ranavc32 commented on #111
So this problem got resolved when I passed '' to the ManualParser,

[code]

Thanks for the solution @gilsdav . Really appreciate your work :)

Happy Coding :)

[2018-04-12 14:58] gilsdav commented on #111
Hello @ranavc32n If it put "ROUTES.dashboard" in url this is because it doesn't find this translation in fr.json or en.json files. Take a look at my translation file https://github.com/gilsdav/angular-universal-localize-router/blob/master/src/assets/locales/fr.json .
Indeed if you don't need an url translation orther than having the lang like "/fr/", you can remove prefix on ManuelPaserLoader.

[2018-04-12 19:15] gilsdav commented on #118
Hello @gizbo ,
Can you provide minimal repo where this can be reproduced ?
Thanks

[2018-04-15 14:24] gilsdav commented on #115
I created a fix but I probably didn't test all cases : https://github.com/gilsdav/localize-router/tree/new_router

[2018-04-17 07:47] yjaaidi commented on #114
Thanks!!!

[2018-04-17 22:46] Rafael-Miceli opened #119 "Word "ROUTES" appearing before route"
Hi there.

We are facing a strange behaviour. After upgrade from version 1.0.0-rc.3 to 1.0.0-rc.4 our routes always appear the word "ROUTES." before the name of the actual route. Can you help me with this behaviour please?

Thx.

[2018-04-19 10:28] gilsdav commented on #119
Hello @Rafael-Miceli Take look at my last answer : https://github.com/Greentube/localize-router/issues/111
Add `ROUTES.pathname` to your locale files or remove `ROUTES.` prefix in you _manual parser_ or in `locales.json` file for _http parser_

[2018-04-20 09:02] chancezeus opened #120 "Pipe and LocalizeRouterService.translateRoute incorrectly translate string route-parameters"
When using string values (for example slugs) as route parameters, the `translateRoute` method on the service (and by extension the pipe) incorrectly try to translate this into something localized. In my opinion the service should never try to translate any route segment that is a parameter.

Since it (might) be difficult to detect if a segment is a parameter, I think a "prefix" that should never o

[2018-04-20 09:03] chancezeus commented on #118
I ran into this as well when using prefixed routes, simply put the `translateRoutes` (actual translation happens in `translateText` method inside the parser prefixes ALL url segments, including the ':id' parameter segment.

A similar issue arises from the `translateRoute` method on the service (and by extension the pipe) that (try) to translate string route parameters (anything but string will wor

[2018-04-20 10:23] casvil opened #121 "cli/outlet demos not working"
https://github.com/Greentube/localize-router/tree/master/demo
I have tried cloning both `cli` and `outlet` demos and there is an error on switching language.

Could anyone please provider further information on this?

I need to implement URL localization (without reload) in a SPA and this is the only repository that I have found so far that provides this functionality.

Thanks!

[2018-04-20 16:13] casvil commented on #121
The output error is the following:
`Error: Uncaught (in promise): Error: Cannot match any routes. URL Segment: 'de'`

[2018-04-21 15:33] Perzonallica commented on #121
It's not working for me neither. Maybe it's connected to this issue here: https://github.com/Greentube/localize-router/issues/115

[2018-04-25 14:10] Jay031 opened #123 "fs.readFileSync is not a function"
Hi all,

I can't run the fs.readFileSync function when I use 'ng serve'
Is there any way to load the JSON translations from a remote server in a localhost project?

`export class TranslateUniversalLoader implements TranslateLoader {
    /**
     * Gets the translations from the server
     * @param lang
     * @returns {any}
     */
    public getTranslation(lang: string): Observable<any> {

[2018-04-29 06:43] Furqanaa commented on #45
I had the same issue too, it has been a year, too bad that it's not fixed yet.

[2018-04-30 13:04] Jay031 commented on #66
@inova-de What did you do wrong exactly?
I have the same problem at this moment. Thanks in advance 👍

[2018-05-03 15:40] rafa-as commented on #120
Same here, I think that this issue its a must because for example for me, the library its unusable.

[2018-05-07 10:55] brunoboss opened #124 "Always Redirected to homepage when changing language, with Angular2 and localize-router v0.7.1"
For quickness, i've already posted also on stack overflow, you can find the entire problem description at the following url:

[Stack overflow question, click here to read](https://stackoverflow.com/questions/50212471/angular2-localize-router-configuration)

@meeroslav any suggest? I have made a wrong configuration?

I've noticed that the function changeLanguage was updated in the next releases.
An

[2018-05-07 19:04] #123 closed

[2018-05-08 10:54] brunoboss commented on #124
The problem is solved, as you can check in the linked post.

[2018-05-08 10:54] #124 closed

[2018-05-15 15:05] manzonif commented on #115
@Hezard in LocalizeRouterService.changeLanguage, we have:

`changeLanguage(lang: string, extras?: NavigationExtras, useNavigateMethod?: boolean): void {
    if (lang !== this.parser.currentLang) {
      let rootSnapshot: ActivatedRouteSnapshot = this.router.routerState.snapshot.root;

      this.parser.translateRoutes(lang).subscribe(() => {
        let url = this.traverseRouteSnapshot(rootSnapsho

[2018-05-23 08:11] rafa-as commented on #92
@meeroslav This issue can be closed?

[2018-05-23 08:12] rafa-as commented on #45
@meeroslav some news here?

[2018-05-24 09:59] mateuszrogacki opened #126 "Synchronization with rxjs 6"
When I use localize-router with rxjs >= 6 the webpack, it reports errors:
[code]

[2018-05-25 12:39] demonishche opened #127 "Parser can`t define language from url if it contains fragment"
Hi!
When I enter app from url like '/en#fragment' it works ok, but when I click on link like this
`<a routerLink="{{'/' | localize}}" fragment="fragment">` when my current url is '/en' it parse routes and change it to  `{children: Array(10), path: null}` and show error:
`GET http://localhost:4200/assets/i18n/null.json 404 (Not Found).`

I think that problem in localize-router.parser.ts at method g

[2018-05-26 18:07] andresceron opened #128 "localize-router incompatible with @angular/router: ^6.0.0"
Hi!
I have been having an issue with `localize-router` and `@angular/router: 6.0.0`.
It doesn't change the url /en /es when doing changeLanguage. After a deeper looking I tested it with `@angular/router: 5.2.6` and it does work with it.

Would you be able to fix this any time soon so it is compatible with `@angular/router:6.0.0` ?

Thanks!

[2018-05-27 09:21] MR-MAP opened #129 "Conflict In Arabic Or Persian Route"
Hello .
I Have a issue when i use persian translated route like :
In Eng :
/en/Projects/Group/3

in Fa :
/fa/پروژه-ها/گروه/3

and finally angular route cant find any route in persian language ...

[2018-05-28 11:06] kamilrehman opened #130 "Routes first letter capitalized"
Hi, I have issue with on of my route. Route name is "dashbaord" but when i console after parse "'ROUTES', this.localize.parser.routes" this shows path: "Dashboard".
Can anybody help me

[2018-05-31 06:39] Samvel1987 commented on #45
changeLanguage executed on the path <lazyModulePath>/child1 will not work.

some news here?

[2018-06-01 23:01] Sambaja commented on #126
For now, the only thing that can do the job is running the rxjs-compat

[2018-06-02 00:10] Sambaja commented on #128
Is there any update on this ? I want to migrate my project to angular 6 and this is one of my last issues !

[2018-06-11 09:48] wojiusihshen1 commented on #45
I just started using Angular. Very sad to see such problem is still not fixed for more than a year. I am looking for solution for a similar problem.

lazyModulePath/:parameter

[2018-06-12 00:20] deantoni commented on #128
Is there an ETA for this?

`$ ng update @angular/core
                  Package "localize-router" has an incompatible peer dependency to "rxjs" (requires "^5.0.0", would install "6.2.0").
Incompatible peer dependencies found. See above.
`

[2018-06-13 20:33] Empereol commented on #126
@Sambaja , does this work for you when using `rxjs-compat`? I've tried and while there are no explicit errors, the module doesn't seem to function.

[2018-06-13 20:50] Sambaja commented on #126
It works half way for me. It redirects only if the translation is available in my i18n files. For now, I'm staying on angular 5. To be compatible with angular 6 this library would have to use the new angular/router and rxjs6.

[2018-06-13 22:34] ydg commented on #120
I am also running into this issue, for some routes my :id param is a string and the lib attempts to translate it

[2018-06-13 22:55] ydg commented on #120
I found a fix (ugly!) that I will use for now:

since the localize-router will not find a translation in the resource files for the :id path segment, it will use the missing translation handler to generate the translated string.

You can override the implementation of the missingTranslationHandler (check the README) to a custom implementation that fit your needs -> for me it was, if I detect that

[2018-06-15 11:38] philip-firstorder commented on #128
Until this is updated, you can temporarily add [rxjs-compat](https://www.npmjs.com/package/rxjs-compat) to your packages, it should fix it.

[code]

[2018-06-15 12:35] drdreo commented on #110
Just tried to configure localize-router in my Angular 6 Universal app and it errors indexOf at runtime. What is an alternative way for ng6?

[2018-06-20 16:09] Empereol commented on #128
@philip-firstorder , does this work for you? When I use `rxjs-compat`, `localize-router` doesn't work appropriately. The language will translate but the active route will not change and the localized routes can't be matched.

[2018-06-20 19:16] philip-firstorder commented on #128
@Empereol don’t know about the routes, but my translation worked. Note that I used both rxjs and rxjs-compat.

[2018-06-26 10:56] dyndzio commented on #110
follow - also angular 6 issue.... any alternatives?

[2018-06-26 14:04] NKjoep commented on #126
FYI, I've opened a PR regarding this topic https://github.com/Greentube/localize-router/pull/131

[2018-07-02 11:34] modul8com commented on #128
There's a pull request waiting to be included, would you mind checking why it fails ?

[2018-07-02 13:53] philip-firstorder commented on #128
Travis Config installs node_js v5, shouldn’t it have at least 8.9? And then there are the other dependency warnings as the versions don’t match.

Only the owner of this repo can change this however.

[2018-07-09 15:38] johntrigub opened #133 "LocalizeParser error Angular 5.2.5"
ERROR Error: StaticInjectorError(ChankyaAppModule)[LocalizeRouterService -> LocalizeParser]:
  StaticInjectorError(Platform: core)[LocalizeRouterService -> LocalizeParser]:
    NullInjectorError: No provider for LocalizeParser!

I'm knocking out here such an error in aps.components.ts.
Who knows what might be the problem?

[2018-07-11 11:59] johntrigub commented on #121
Found the reason why the demo does not work?

[2018-07-12 17:47] Dok11 opened #134 "%Object% after localize pipe"
This code in template:
[code]

working as:
[code]

in package.json i have `"localize-router": "^1.0.0-rc.4",`

[2018-07-13 07:21] albertsanchez opened #135 "'indexOf' of undefined - Universal + localize-router + ngx-translate Angular5"
Error with Angular Universal and angular 5.2.11.
When I run "run serve: ssr" and I go to the browser this error appears

## Current behavior
ERROR { Error: Uncaught (in promise): TypeError: Cannot read property 'indexOf' of undefined
TypeError: Cannot read property 'indexOf' of undefined
    at TranslateService.getBrowserLang (project/dist/server.js:37892:25)
    at ManualParserLoader.LocalizePars

[2018-07-20 12:14] imsingh opened #136 "Unwanted prefix in translation of property, if property starts with colon"
If you have a prefix set, eg. ROUTES. and the property you are translating is `:name` then LocalizeRouter returns `ROUTES.:name` which is wrong. It should return the key(`:name`) in that case

[2018-07-30 16:30] Dok11 commented on #134
What json are we talking about? package.json?

[2018-07-30 17:50] gilsdav commented on #134
Your translations (en.json for example)

[2018-07-30 17:52] Dok11 commented on #134
But I don't use it here, see template in first message.
Only localize pipe

[2018-07-30 21:40] gilsdav commented on #134
If you set the prefix of localise router to empty string and you have an en.json with a value like
{ "news": { "test": "test value" } }, the localize pipe will automaticaly take the value of "news" ([object Object] in this case).
This is how localize-router works.

[2018-07-31 09:37] Dok11 commented on #134
Your advice about empty string possibly made useful, I will check this version
Thank you! =)

[2018-08-03 23:46] oxiumio commented on #45
Even if this was resolved at any point of time, there had to be a regression. As of today only top level route of a lazy-loaded module (the one with empty string path) is loaded properly, any child routes it contains resolve in `Cannot match any routes` error.
It would be great if we could reopen this issue @meeroslav

[2018-08-09 09:33] demonishche commented on #135
It happened because server can`t define browser language. So just changing _defaultLangFunction_ solved problem to me.

Example:
[code]

[2018-08-12 08:07] MartynenkoA opened #138 "Working with unit test"
How can I use this in unit tests, I have error on creation
No provider for LocalizeRouterService!

[2018-08-12 16:35] markelor commented on #133
+1

[2018-08-13 15:33] apolon23 opened #139 "Should stay on the currnet section if I changed language"
Have problems with routing to home page when i change language I need  stay on the currnet section if
 I changed language

const routes: Routes = [
  { path: '', component: AdminComponent, children: [
    {path: '', loadChildren: './dashboard-page/dashboard.module#DashboardModule'},
    {path: 'users', loadChildren: './users-page/users.module#UsersModule', data: {preload: true}},
    {path: 'activ

[2018-08-16 14:53] quirinobrizi opened #140 "Unknown route switching language"
Hi @meeroslav integrating your localize-router I found what I believe is an issue, correct me if I am wrong, what I am trying to do is that: **when a user click on a new language the page is translated and the navigation is updated to march the new language**, in summary the basic idea of this module.

The way the feature is implemented is that:
I created 2 buttons and on click I invoke a function

[2018-08-16 15:35] quirinobrizi commented on #140
Hi @meeroslav done some more test and the only way that seem to work is to reload the full website so if I write something like that:

[code]
it does work, the page is reloaded the new language is set and the navigation works with no problem.
What I noticed and that may void what I wrote above but I don't know the module well enough to say so is that the redirect route is not updated when the  the

[2018-08-24 08:52] psmyda opened #141 "Set route with country/lang code in url"
Here is my problem. I have to set up routing in Angular so that in URL there will be a country code and a language. for example

The tricky part is that this localization parts can change so I have a button to switch country and language so it will be **/gb/en** or **/usa/fr**.

How can I get it working like this using localize-router and ngx-translate.

Any help much appreciated.

[2018-08-27 14:30] Elmanderrr commented on #140
have the same problem, i think idea of this plugin is work exactly that your described in your problem
+1 for fix this behavior

[2018-09-04 02:59] jrmcdona commented on #141
@psmyda ever figure out an approach?  I need locales in my urls such as

example.com/en-US
example.com/fr-FR

[2018-09-04 13:27] comoris commented on #140
same problem here, +1

[2018-09-12 06:56] apolon23 commented on #140
anyone solved the problem? @meeroslav

[2018-09-12 12:40] Elmanderrr commented on #140
Solve it by manually changing the locale in the url and then reload the page, the easiest way

[2018-09-12 14:14] quirinobrizi commented on #140
@apolon23 [my comment](https://github.com/Greentube/localize-router/issues/140#issuecomment-413588265) above provides the method I used to workaround the issue which in principle does what @Elmanderrr suggests as well.

[2018-09-17 09:37] vlados opened #142 "Localize pipe slow performance"
When I am using localize in a long list is getting very bad performance:
[code]
When I replace it with this is much better
[code]

**How I can use LocalizePipe without affecting the performance?**

[2018-09-18 14:20] psmyda commented on #141
@jrmcdona Hi. Finally I have ended manipulating APP_BASE_HREF for setting country code. Its because its an Universal app.

[2018-09-21 06:52] psmyda commented on #141
Ok so APP_BASE_HREF, in this case, depends on the request URL.
If the request includes it (and its one of the allowed) it will be set otherwise I'm setting default one.
Here is a code for my AppConfigService:
`import { Injectable, Injector, Inject, PLATFORM_ID } from "@angular/core";
import { isPlatformServer } from "@angular/common";
import { REQUEST } from "@nguniversal/express-engine/tokens";

[2018-09-21 09:13] quirinobrizi commented on #140
So I got bored of seeing my app reloading as I consider it a very bad practice from technical and user experience point of view and decided to crack on figure the problem out, there are 2 issues that make this problem up:

- The changeLanguage method expects [router config to be reset when invoked](https://github.com/Greentube/localize-router/blob/687ae133d68e81d1a5d1ddc90d615b21ef10e06f/src/local

[2018-09-25 09:33] destructive-dragon commented on #142
LocalizePipe is an impure pipe, meaning whenever your component updates, the pipe will update (likely multiple times). Its performance will be much worse in development mode than in production. A solution could be to make sure the change detector doesn't run over your component too frequently.

[2018-09-25 15:13] Roelensdam commented on #138
I've the same problem. Can anyone provide an example or a solution ?

[2018-09-27 16:12] keithazzopardi opened #143 "[Question] No language slugs for default language"
Is it possible to have the default language without any slugs?

"/home"       >> Default (to be used if no language slug has been specified"
"/en/home" >> English
"/it/home"   >> Italian
"/fr/home"   >> French

[2018-10-02 13:39] #121 closed

[2018-10-03 20:11] MarcBellmann commented on #133
it was pretty easy for me to fix this. only the Location import in my app.module.ts was missing:

`import {Location} from '@angular/common';`

[2018-10-08 08:35] Roelensdam commented on #45
The issue seems to come back with the upgrade to Angular 6.

I have the same issue. When changing language, the component reload (it occurs when hitting `navigate` or `navigateByUrl` in the 'changeLanguage` function)

The function : `LocalizeRouterService.traverseRouteSnapshot` will return a redundant url path like "fr/index/index" and then the router navigate to an unknown url => go back to home.

[2018-10-08 09:49] Roelensdam commented on #140
@quirinobrizi

I have the same issue. When changing language, the component reload (it occurs when hitting `navigate` or `navigateByUrl` in the 'changeLanguage` function)

The function : `LocalizeRouterService.traverseRouteSnapshot` will return a redundant url path like "fr/index/index" and then the router navigate to an unknown url => go back to home.

After fixing the function `LocalizeRouterSer

[2018-10-08 11:45] apolon23 commented on #139
Have solve problem like this:
  onChange(language: string) {
    window.location.href = this.router.url.replace(this.localize.parser.currentLang, language);
  };

[2018-10-08 11:45] apolon23 commented on #140
@Roelensdam i solved this problem like this:
  onChange(language: string) {
    window.location.href = this.router.url.replace(this.localize.parser.currentLang, language);
  };

[2018-10-08 12:14] Roelensdam commented on #140
@apolon23
Thanks for the tip, but i DON'T want to reload the page. This make the whole app reload. I DON'T want the component to be reloaded either.

[2018-10-08 14:07] Roelensdam commented on #140
After further investigation, it seems linked to the immutability of the new router (Angular 6).
When performing a resetConfig before a navigation, the component reload as his reference is different from the previous config.

Any suggestions, ideas ?

[2018-10-08 14:46] quirinobrizi commented on #140
@Roelensdam I am not familiar with Angular 6, I am between moving and have no much time to look into it I will as soon as I find some time... sorry about that.

[2018-10-14 11:41] gilsdav commented on #140
@Roelensdam Problem fixed on angular 6 fork https://www.npmjs.com/package/@gilsdav/ngx-translate-router

@Greentube you can check what changed here: https://github.com/gilsdav/ngx-translate-router/commit/de42217aeb349e3adc577a490bf6ddefb22e42f0

[2018-10-14 11:48] gilsdav commented on #139
If you are using Angular 6, it's normaly fixed on version 1.0.2 of this fork : https://www.npmjs.com/package/@gilsdav/ngx-translate-router

[2018-10-15 06:52] gilsdav commented on #128
@alvarofelipe12 You can actually try to use my fork that I use on Angular 6: https://github.com/gilsdav/ngx-translate-router
I don't know what is happening on this repo but it does not seem to be moving much :(

[2018-10-20 13:02] andresceron commented on #128
Hi @gilsdav. Is your fork working as expected with the url's?
I am going to upgrade my angular repo to 6 or 7 and would know if this works so I can proceed.
Thanks!

[2018-10-20 17:11] andresceron commented on #128
Hi @gilsdav I have tested your fork and it doesnt work.
It only "reset" the URL, so if I had www.test.com/en/myName and then click to change lang to spanish, it changes the language to spanish but no url. It set the url like: www.test.com/es/

[2018-10-20 17:31] andresceron commented on #128
Hi @gilsdav
I am using the: "@gilsdav/ngx-translate-router": "^1.0.2" with the Angular 7.0.0.
I have some redirect guard, that redirects to the "home" url if the url isnt found. I will try again by disabling the guard. I am not using any custom RouteReuseStrategy that I am aware off.

But let see if the problem isnt because of the Angular 7 version.

Another issue I encountered was that to use you

[2018-10-20 17:44] andresceron commented on #128
Hi again @gilsdav, I desactivated the guard and it only redirect to a / path, without language nor nothing and breaks to redirect. I will now try to downgrade to ng6. I will keep you in touch. Thanks!

[2018-10-20 17:54] gilsdav commented on #128
@andresceron I'm waiting for you to keep me informed.
I just created a issue for the localize-router-http-loader fork: https://github.com/gilsdav/ngx-translate-router/issues/3

I didn't take time to fork it because it doesn't work on each cases like with Angular Universal so I personally prefer to use manual loader.

[2018-10-20 18:08] andresceron commented on #128
Ok, i have downgraded to Angular 6 and it does the same.
So I dont know if it is something with my code or something else.

What I do is following:
From home I go to (for example) the about page:
Inside the about page I have 2 buttons (and some random labels to see if the language change work).
When clicking on the language the expected behaviour is to change the route with the updated lang name t

[2018-10-20 18:36] gilsdav commented on #128
@andresceron Ok I think I got it.
Do you use deep empty path ?
[code]

If yes, can you try something like this ?
[code]

Be aware that besides not working here, deep empty path never worked in Universal.

[2018-10-20 18:39] andresceron commented on #128
Hmm.. I use:

[code]

[2018-10-20 18:43] gilsdav commented on #128
So can you try ?

[code]

[2018-10-20 18:52] andresceron commented on #128
Yes, I got the same results as before, but..

But I then looked to all my paths and looked that I had a '**' path, and when I removed that path
[code]

The error I got was this:
[code]

[2018-10-20 19:00] gilsdav commented on #128
@andresceron The issue look's like https://github.com/gilsdav/ngx-translate-router/issues/1 .
We will continue our conversation about this issue on it.
Can you add a comment on it with your main route (like in your previous comment) and your sub routing of AboutModule ?
Thank's in advance.

[2018-10-20 19:15] andresceron commented on #128
Ok, I will.
Thanks for your help!

[2018-10-25 19:35] Kataklism commented on #77
For anyone who might have the same issue, here is what worked for me.
Your basically always need to reference paths using the path translation key instead of the path itself (`ROUTES.about-us` instead of `about-us`).
[code]
Becomes:
[code]

If you have any kind of link in a component, you'd use
[code]

[2018-10-29 15:04] okkevdeijk opened #144 "Server side rendering"
Hi there,

I'm struggling to impelement the localize-router package with an Angular Universal set-up (with the most recent version of Angular 6). When I just try to implement the [server-side intialization suggestions](https://github.com/Greentube/localize-router#server-side-initialization) in the app module I'm running into the following issue

The [working example](https://github.com/meeroslav/u

[2018-11-03 14:01] meeroslav commented on #119
Thank you @gilsdav for help.
I will close this issue as resolved.

[2018-11-03 14:01] #119 closed

[2018-11-03 21:32] #75 closed

[2018-11-03 21:39] #102 closed

[2018-11-03 21:41] meeroslav commented on #118
Closed with 718b8e61be37ac6196f02c4eea41123772b859a3

[2018-11-03 21:41] #118 closed

[2018-11-03 21:41] meeroslav commented on #120
Fixed by 718b8e61be37ac6196f02c4eea41123772b859a3

[2018-11-03 21:54] #127 closed

[2018-11-03 21:56] #134 closed

[2018-11-03 21:57] meeroslav commented on #134
Thank you @gilsdav for the support!

[2018-11-03 22:02] meeroslav commented on #138
Hi @MartynenkoA and @Roelensdam, if you have a component (or service) using the `LocalizeRouterService` you can mock it out.

This is how I mocked it out in the pipe tests:

[code]

What should be in the `MockedLocalizeRouterService`? That depends what methods or properties are you using:

[code]

Hope this helps

[2018-11-03 22:02] #138 closed

[2018-11-03 22:12] meeroslav commented on #129
@MR-MAP, can you provide a plunkr or stackblitz with an example, please?

[2018-11-04 01:02] meeroslav commented on #143
Hi @keithazzopardi, you can choose to either have slugs always:

`en/home` >> default
`it/home` >> Italian
...

Or to have default language ONLY without slugs:
`/home` >> Default
`en/home` X this will fail
`it/home` >> Italian

This is configurable via [LocalizeRouterConfig](https://github.com/Greentube/localize-router#localizerouterconfig):

[code]

[2018-11-04 01:02] #143 closed

[2018-11-04 01:08] meeroslav commented on #136
Fixed with 718b8e61be37ac6196f02c4eea41123772b859a3

[2018-11-04 01:08] #136 closed

[2018-11-04 21:20] meeroslav commented on #115
@pzhuk, @azzimuth, since this happens only on versions 5.2.7-5.2.10 I've decided not to fix it as it would complicate versioning.

That being said, it is fixed for version 2.x.x which require Angular 6 or 7. This version is still in alpha so expect final version in the upcoming days.

[2018-11-04 21:20] #115 closed

[2018-11-04 23:39] meeroslav commented on #126
Solved by PR from @NKjoep

[2018-11-04 23:39] #126 closed

[2018-11-04 23:40] meeroslav commented on #110
Localize router version 2.x.x now works with Angular 6 and 7

[2018-11-04 23:40] #110 closed

[2018-11-04 23:41] meeroslav commented on #128
Localize router now supports Angular v6 and v7. Please upgrade to the latest 2.x.x version.

[2018-11-04 23:41] #128 closed

[2018-11-04 23:43] meeroslav commented on #130
Hi @kamilrehman, sorry for late reply.

In order to help you, I would need to see your router configuration.

If you fixed this in the meantime, please close this issue.

[2018-11-04 23:45] meeroslav commented on #89
This is solved with the latest versions.

[2018-11-04 23:45] #89 closed

[2018-11-04 23:49] meeroslav commented on #77
The route definition (in en.json, es.json etc.) when a prefix (by default) is used should look like this:

[code]

Using object in the JSON file would not work as localize router expects string prefix.

[2018-11-04 23:49] #77 closed

[2018-11-04 23:53] meeroslav commented on #133
@johntrigub if you still have this error, can you share some minimal repo with this error?

[2018-11-04 23:56] meeroslav commented on #139
Hi @apolon23, please try the latest version - 1.0.1 or 2.0.0-RC.1.

If it still doesn't work, please provide a plunkr, stackblitz or something similar with the minimal repo.

[2018-11-05 00:02] meeroslav commented on #140
@quirinobrizi, @Roelensdam, @gilsdav,

This should be solved on both version v1.0.1 (for Angular 5.0.0-5.2.6) and 2.0.0-RC.1 (for Angular 6+).

Can you please verify?

[2018-11-05 00:12] meeroslav opened #145 "Add demo and support for Universal application"

[2018-11-05 00:28] meeroslav commented on #45
The issue should be resolved in both 1.0.1 version (for Angular 4.0.0-5.2.5) and 2.0.0-RC.1 (for Angular 6/7)

[2018-11-05 00:31] meeroslav commented on #124
Thanks!

[2018-11-05 03:20] PhuQuy commented on #110
Hi @meeroslav ,
I ran into some problems when use universal
Listening on: http://localhost:8080
ERROR { Error: Uncaught (in promise): Error
    at resolvePromise (E:\Demo\hosiana-visitor\dist\server.js:162520:31)
    at resolvePromise (E:\Demo\hosiana-visitor\dist\server.js:162477:17)
    at E:\Demo\hosiana-visitor\dist\server.js:162579:17
    at ZoneDelegate.module.exports.ZoneDelegate.invokeTask

[2018-11-05 07:42] Elmanderrr commented on #140
@meeroslav
doesn't work for me on 2.0.0-RC.1, language changed correctly, links are updated, but nothing happens when i trying to navigate to new urls

[2018-11-05 08:03] gilsdav commented on #140
@meeroslav Some bugs there is no more on my repo but still in 2.0.0-RC.1:

- If sub route is "" (empty string) changing langue will not found path so redirect to default "**".
- ngInit is called every time we change lang. This is why I created my own ReuseStrategy.

You can test by cloning my repo and you change every reference of my fork to localize-router into scr folder (the demo app).
Go to th

[2018-11-05 08:29] okkevdeijk commented on #144
Hi @meeroslav. Last week I tried a lot of steps to solve the problem. The status of my solution now is:

- Client  side the package is  working excellent
- Server side (when I disable javascript in my browser) it doesn't work, I get a blank page

With the appRoutes mentioned beneath I get the following:
[code]
So it looks like the routing is undefined the first time (server-side).
Would be awesome

[2018-11-05 16:17] keithazzopardi commented on #143
@meeroslav  Thanks for this. I have some difficulty managing to go around my requirement without useCachedLang.

My requirement is the following:

The first time the user goes to the site it will redirect him to the browser's language. Otherwise, it will redirect him last language.

If the user clicks on en site, it will redirect the  user to the default page.

[2018-11-05 23:11] meeroslav commented on #110
@PhuQuy, I will look into Universal in the upcoming days. Thanks!

[2018-11-05 23:16] meeroslav commented on #140
@gilsdav, I like your approach with ReuseStrategy, but I would not make it part of localize-router.
I will, however, add the link to the README.
Based on the user's needs he/she can choose to have ngInit triggered on the lang change or not.

As for the empty subroute, I will look into it ... it's on my list.

[2018-11-05 23:29] meeroslav commented on #143
The reason why you should choose only one prefixing option - default with or without language prefix, is because otherwise localize-router would not know how to transform following:
[code]

[2018-11-06 14:51] rafa-as commented on #120
@meeroslav this issue it's about the route parameters and your commit doesn't solve this problem because solves this another one #119.

Please reopen this issue.

[2018-11-06 14:55] acopapic opened #146 "Component reuse after language change"
Hi there,

I tried the latest version of the localize-router (2.0.0-RC.1) with Angular 6 and Angular 7 but it seems that now localize-router changeLanguage() recreates component every time, i.e. it treat the language change as a completely new route. What do I do wrong here?
With previous version (Angular 5.1.3 and localize-router 1.0.0-rc.4) it worked as I expected, with component reuse.

Thanks

[2018-11-07 08:19] SrgSteak opened #147 "locale switching breaks on second switch"
How to reproduce:
check out project,
move to demo/cli dir
npm install
ng serve
go to /de/benutzer or /en/users
click translate to DE/EN
click other button EN/DE

Error: Uncaught (in promise): Error: Cannot match any routes. URL Segment: 'de/benutzer//%5Bobject%20Object%5D' noMatchError@http://localhost:4200/vendor.js:57472:25

[2018-11-07 12:53] acopapic commented on #146
@gilsdav Thanks for your feedback. I just tried it with your gilsdav/ngx-translate-router and it seems to work. Perfect!

[2018-11-07 13:06] acopapic commented on #146
Actually it strips query parameters from the url. And the behavior with the browser's back button is strange - it always returns me to the first page where I started from.

[2018-11-07 13:09] meeroslav commented on #139
Duplicate of #95

[2018-11-07 13:09] #139 closed

[2018-11-07 13:13] meeroslav commented on #140
@Elmanderrr, can you provide a minimal example with this behavior? Also, please open the new issue so I can target that specifically.

[2018-11-07 13:14] #95 closed

[2018-11-07 13:29] SrgSteak commented on #147
2.0.0-RC.1 as you can find here:
https://github.com/Greentube/localize-router/blob/00a8517ee9cccfa736b6ee152603eed2d485a894/demo/cli/package.json#L28

[2018-11-07 14:05] acopapic commented on #146
@meeroslav

I guess I will wait a few days because copying reuse strategy solved some of the problems but I still have a problem with browser's back button after changing the language. It crashes with the message: 'Cannot match any routes.'

Regards

[2018-11-07 18:07] meeroslav commented on #120
@rafa-as, please provide a small example using https://stackblitz.com/fork/localize-router-v2-issue-template as I'm not sure how to reproduce this.

Thanks!

[2018-11-08 08:50] rafa-as commented on #120
Hi @meeroslav , thanks for reopen!

I'll try today do the stackbliz

[2018-11-16 15:22] gilsdav commented on #111
Repo updated for Angular 7 : https://github.com/gilsdav/angular-universal-localize-router

[2018-11-22 12:55] ShrikantAdhav opened #149 "localize-router not working as expected with Angular Universal: server-side rendering."
<!--🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅

Hi there! 😄

When i use localize router with Angular Universal: server-side rendering it does not render pages as expected.

Note - `LazyUniversalModuleLoaderProvider` is commented in `app.server.module.ts` file as it throws error.

Cases -

Case-1 : When i directly try to load a page with URL (http://localhost:4000/fr/heros/accueil)
       - Then first i see s

[2018-11-22 13:00] ShrikantAdhav opened #150 "localize-router not working as expected with Angular Universal: server-side rendering"
**I'm submitting a ...**  (check one with "x")
[code]

### Description

When i use localize router with Angular Universal: server-side rendering it does not render pages as expected.

Note - `LazyUniversalModuleLoaderProvider` is commented in `app.server.module.ts` file as it throws error.

Cases -

Case-1 : When i directly try to load a page with URL (http://localhost:4000/fr/heros/accueil)

[2018-11-22 13:00] #149 closed

[2018-12-05 10:57] qubiack commented on #147
We have exactly the sam problem - it always add `;id={PARAM}` if we has a parameter in URL.

from package.json:
`        "localize-router": "^2.0.0-RC.2", `

[2018-12-05 15:57] alvarofelipe12 commented on #45
It worked for me in the version 2.0.0-RC.2 (for Angular 6/7) but it doesn't in the 2.0.0-RC.1 but i'm glad that its solved. Thanks a lot guys!

[2018-12-07 10:01] JoseCMRocha opened #151 "Function traverseSnapshot not properly assembling the new translated route."
**I'm submitting a ...**  (check one with "x")
[code]

### Description

Using angular 7+ if a route as parameters, for example :name or :id, this method on this line "...Object.keys(snapshot.params).length ? [snapshot.params] : []," will add to the route the following ";name=valueofthename" or ";id=valueoftheid". There is another problem on the line above on the urlPart this urlPart I think needs

[2018-12-07 11:56] lee-wilkins commented on #147
I found this issue can be fixed by ensuring you have / at the start of your path to translate. I.e.:

this.localizeSvc.translateRoute('/dashboard/admin/')

or
[routerLink]="['/privacy-policy' | localize]"

or with params:
[routerLink]="['/authenticate/register/', monthlyContributions] | localize

[2018-12-07 12:10] lee-wilkins opened #152 "Localize router unable to pass data params on an empty path"
**I'm submitting a **
[x] bug report => Search github for a similar issue or PR before submitting
[ ] feature request => Please check if similar feature request does not exist
[ ] support request => Suggested place for help and support is [stackoverflow](https://stackoverflow.com/), search for similar question before posting
[code]
const routes: Routes = [
  { path: '', loadChildren: 'app/external

[2018-12-10 17:23] psmyda commented on #135
Please refer to this link for solution https://github.com/ngx-translate/core/issues/890#issuecomment-440986572

[2018-12-11 16:33] DeadmanM opened #153 "Out of sync localize pipe"
**I'm submitting a ...**  (check one with "x")
[code]

### Description

When using routerLink with the localize pipe, my app sometimes becomes "out of sync" and clicking on a link sometimes doesn't change the route and do nothing.

## 🌍  Your Environment

**Angular Version:**
<pre><code>
Angular CLI: 7.0.6
Node: 8.11.3
OS: win32 x64
Angular: 7.0.4
... animations, common, compiler, compiler-cli, co

[2018-12-13 14:42] #153 closed

[2018-12-13 14:43] DeadmanM commented on #153
Was not a problem with localize-router. Closed the issue.

[2018-12-19 10:14] ShrikantAdhav commented on #150
@meeroslav  Any input on this ?
Thanks!

[2018-12-31 07:55] cywolf commented on #151
I have a potential fix for this here: https://github.com/cywolf/localize-router/tree/fix-151

[2019-01-03 21:58] youtpout commented on #150
Hello seems to work if you use children and not load children

[2019-01-05 21:08] JoseCMRocha commented on #151
Hi @cywolf just tested that changes and it seems to fix the problem that I described. Did you reported this problem previously on this repository? Asking to see if there is more discussion about the problem reported.
Did you try to create a pull request of your change to this greentube/localize-router? I verified that your solution fix my problem but I don't know if it will break something else.

[2019-01-08 21:05] cywolf commented on #151
@JoseCMRocha Hiya, I haven't reported the issue separately, and haven't created a PR as I don't have time to add unit test(s) as the moment.

[2019-01-09 15:57] acopapic commented on #146
@gilsdav Sorry for the very late reply. My problem is the following: 'en-ch/search/ --navigate--> 'en/search?par1=val1&par2=val2' --changeLang--> 'de-ch/suchen?par1=val1&par2=val2' --browserBack--> Error: Uncaught (in promise): Error: Cannot match any routes. Url Segment: 'de-ch/suchen'

![image](https://user-images.githubusercontent.com/21034848/50911198-a5408c00-142f-11e9-986c-cd77ffb7ba7c.png)

[2019-01-09 23:09] gilsdav commented on #150
Hello @ShrikantAdhav ,
Sorry for the late response.

If I undersand, you fork my repo and replace every ngx-translate-router by localize-router.

Please refer to https://github.com/gilsdav/universal-localize-module-loader ReadMe.

`ntr` suffix is for `Ngx-Translate-Router`

So replace `"localize-router-lazy-universal-module-loader": "1.0.0-ntr"` by `"localize-router-lazy-universal-module-loader":

[2019-01-09 23:56] gilsdav commented on #150
@ShrikantAdhav  I released a new version for Angular 7. Can you try with `"localize-router-lazy-universal-module-loader": "1.0.1"` ?

[2019-01-14 23:32] azhararmar opened #154 "changeLanguage does not work for route with parameters"
**I'm submitting a ...**  (check one with "x")
[code]

### Description
When I try to use changeLang for route with parameters, it tries to construct invalid url resulting in the following error (however it works fine for route without any parameters)

`Cannot match any routes. URL Segment: ar/venue%2Fmovenpick-hotel-kuwait-1;slug=movenpick-hotel-kuwait-1`

I have following routes

[code]
It throws

[2019-01-14 23:59] azhararmar commented on #154
Issue related to https://github.com/Greentube/localize-router/issues/151

[2019-01-22 00:54] TimeTravelersHackedMe commented on #45
Looks like this is not working with nested lazy loading... top level lazy loaded components get loaded but lazy loaded components with routes declared with forChild(routes) get the "Cannot match any routes" error

[2019-01-24 19:00] qubiack opened #155 "After language is switch, back button redirect into 404"
**I'm submitting a ...**  (check one with "x")
[code]

### Description

When I have in router path with children path, and I'm on child path after language is switch, back button in browser redirect into 404 error page. I switch language by using:

`this.localize.changeLanguage(lang);`

If I'm on first level page (not on children path) everything work good, and back button work.

## 🌍  Your Enviro

[2019-01-30 19:38] cariboufute commented on #152
I have the same problem and I have been able to fix it by making a quick fix in _parseSegmentValue_ function in the _localize-router.service.ts_ file.

The culprit is the condition ``else if (snapshot.routeConfig.data)``. When the route has a ``data`` key, ``snapshot.routeConfig.data`` returns both the object with the ``localizeRouter`` _and_ the ``data`` key content.

To avoid this, I add a condi

[2019-02-09 21:50] macure opened #157 "InitialNavigation eanbled crashes Routing"
**I'm submitting a ...**  (check one with "x")
[code]

### Description
I'm not sure that this is the bug, or initialNavigation shouldn't be enabled in the first place, if it's not a bug it would be useful for somebody else with similar problem.

"Can not match any routes. URL segment: en/home", when InitialNavigation is enabled.
https://angular.io/api/router/ExtraOptions

## 🔬 Minimal Reproduction

[2019-02-11 20:15] macure commented on #154
Same issue here

[2019-02-13 14:39] vytautas-pranskunas- opened #158 "Lazy loaded component is not bootstrapping"
I am trying to do routes localization based on "localize-router" (https://github.com/Greentube/localize-router) however home component is not bootstrapping on hard refresh also if i any route and do hard refresh get an error - No matches found. But if i click on any link in app.component that uses translated urls they are working. I have clones DEMO project and made home also lazy loaded and it wo

[2019-02-14 09:17] vytautas-pranskunas- commented on #158
I was able to solve this issue and seems like this is not working with initialNavigation: 'enabled' on Router. And this is needed to prevent flickering with SSR.

[2019-02-22 15:39] hohler commented on #154
same issue here, downgrading Angular router did not help.
Solution from #151 is working for me!

[2019-02-26 07:19] dragorwyin commented on #151
@cywolf Your solution not working for me. Even if I did fork and just copied your file. It's huge bug for me actually :?

[2019-02-26 08:46] JoseCMRocha commented on #151
Hi @dragorwyin that is strange your case is very similar with mine and the solution by @cywolf worked for me, did you check your routing configuration to see if there is something wrong? are you able to create a example to reproduce your problem?

[2019-02-26 09:06] dragorwyin commented on #151
@JoseCMRocha Here is a reproduction:
I have a app-routing.module.ts file with simple configuration:

[code]
app.module.ts

[code]

register.routing.ts:
[code]

register.module.ts
[code]

I have translations in assets/i18n (pl.json and en.json):
- pl.json: "{ ROUTES.register": "rejestracja }",
- en.json: "{ ROUTES.register": "register }",

I have an locales.json in assets:
[code]

I hope there will

[2019-02-26 11:46] rafa-as commented on #158
@vytautas-pranskunas- I solved this issue.

Our error was on the imports order on app-routing.module. The Router must be the first import, before LocalizeRouter

[code]

I don't know exactly if it's relevant on the forChild imports and exports but make sense follow the same order.

NOTE: We have SSR implemented

[2019-03-05 18:17] PierreLecigne commented on #157
Same issue here! (Angular 7.1.0)

[2019-03-17 21:15] MarcARoberge commented on #151
Hi, just wondering when @cywolf is going to be merged to fix this issue?

[2019-03-19 10:06] hohler commented on #151
@MarcARoberge as @cywolf does not have time for tests, I just created a PR from his fork. We need this fix.

[2019-03-22 02:37] emn178 opened #160 "can't trigger window.load"
**I'm submitting a ...**  (check one with "x")
[code]

### Description

When I use this module, window.load won't trigger randomly.

## 🔬 Minimal Reproduction (if applicable)
in app.component.
[code]
## 🌍  Your Environment

**Angular Version:**
7.2.0

**Localize Router Version:**
2.0.0-RC.2

**Anything else relevant?**

[2019-03-28 12:09] Ismaestro commented on #138
DummyLocalizeParser: Expected 3 arguments, but got 0.

[2019-04-03 14:25] qubiack commented on #157
I also have this error.

[2019-04-03 14:26] qubiack commented on #158
@rafa-as We have import and export for parent app-routing.module, but it's doesn't change anything. Doesn't work.

[2019-04-08 16:35] hohler commented on #150
I think it's working now, but somehow the rendered page flickers and "reloads" in the browser. This is just when it's a lazy loaded module.

Configuration:
- localize-router@2.0.0-RC.2
- universal-localize-module-loader@1.0.1

[2019-04-18 09:28] giacomo commented on #151
any news on this?

[2019-04-19 14:11] christofferfleat commented on #88
@Empereol How did you solve it exactly? I can't get it to work for some reason.

[2019-04-19 16:52] christofferfleat commented on #50
@brada1703 Using a hash url isn't a solution.. You should re-open this.

[2019-04-20 15:00] Empereol commented on #88
I believe my issue was not importing the Localize Router module into the module where the components I was trying to use the pipe was declared. You either need to import the Localize Router module directly or import a module which exports the Localize Router module into the module which declares the components using the pipe.

[2019-04-22 18:35] Ra0R commented on #74
This will fail to translate urls which have appended parameters:
/home?gcldi=123

I think one solution to this would be, to remove the parameters and append after translation.

[2019-04-23 23:34] ahmedhussien8 commented on #129
@MR-MAP  if you have in your locales file these names already translated then when you localize the router which meet the same name in your locales files it will be translated automatically, change the router name or the name in locales files

[2019-05-03 08:46] yjaaidi opened #161 "Angular 8 + IVy support"
**I'm submitting a ...**  (check one with "x")
[code]

### Description

`localize-router` is not compatible with Angular 8 + IVy enabled and ends up with similar errors:
[code]

Maybe upgrading localize-router to at least Angular 7 should help.
I still didn't take time to investigate but I probably will.
Just wanted to open this issue here so we can discuss and regroup everything here.

## 🌍  Your

[2019-05-05 20:35] vslzl opened #162 "Can't make it, need tutorial."
**I'm submitting a ...**  (check one with "x")
[code]

### Description

I'm trying to build an Angular application with SSR just because of SEO reasons. And I need my application to have localized routes. I'm literally investigating near 5 days and I can see that I can't gonna make it by myself. I just tried almost every possible ways and I'm about to be cancer. Can you please **provide** a proper

[2019-05-05 22:14] gilsdav commented on #162
Hello @vslzl ,

The reason that you don't have access to "details" route is that it doesn't exist in my example: https://github.com/gilsdav/angular-universal-localize-router/blob/master/src/app/app-routing.module.ts

It's possible that there are some router-link that redirect to "/details" but it's simply because I didn't removed it.

Please test only existing routes for this example: https://gith

[2019-05-09 11:45] VicenteT opened #163 "Angular recognize only the default lang in SSR."
**I'm submitting a ...**  (check one with "x")
[code]

### Description

Hello, I have an Angular application with Angular Universal, localize-router and ngx-translate installed. When I navigate in the client side of the website, the languages are working well. I have the default language (es) configured to be hidden in the url and english as secondary language. For example:

es => `http://localhos

[2019-05-10 16:34] gilsdav commented on #163
Hello,

Can you check if it works as expected when you enable `alwaysSetPrefix` ?

Only this urls have to works :
es => `http://localhost:4000/es/quotation`
en => `http://localhost:4000/en/quotation`

Thank's

[2019-05-14 08:01] VicenteT commented on #163
It doesn't work. Anyway I need to configure it without prefix in the default language.

[2019-05-17 07:14] gilsdav commented on #163
Hello, Can you check files `app-routing.module.ts`, `app.module.ts` and `app.server.module.ts` from https://github.com/gilsdav/angular-universal-localize-router/tree/master/src/app and unsure you have imports and providers at the same place and with the same order ?

For example `LocalizeRouterModule` on `app-routing.modules.ts` and imported after `RouterModule`

[2019-05-20 02:00] relvingonzalez commented on #151
Are there any plans for this?

[2019-05-22 13:02] glebmachine commented on #161
@greentube is this project are dead?

[2019-06-10 19:20] gilsdav commented on #158
@vytautas-pranskunas-  It's an SSR error. Do you use `@nguniversal/module-map-ngfactory-loader` ?
This module change "lazy-load" to "simple load" only on server-side.

[2019-06-10 19:40] gilsdav opened #164 "Angular 8 support"
**I'm submitting a ...**  (check one with "x")
[code]

### Description

Here is how I updated my fork : https://github.com/gilsdav/ngx-translate-router/compare/ca881c27954d878554976b8b3fed92dea1b98c63...master

Hope it will help

[2019-06-12 19:07] giacomo commented on #151
for a patch see https://github.com/Greentube/localize-router/pull/159#issuecomment-501331596

[2019-06-21 09:51] Ismaestro commented on #157
This is blocking us to use state transfer in Angular Universal! Need Help please!!

[2019-06-26 08:16] kamilchlebek commented on #164
@gilsdav Unfortunately this solution is not going to work with AOT enabled. You're trying to inject compiler which is not available at runtime.

Is there any way to do it differently without accessing compiler?

[2019-06-30 23:44] gmanojisaac commented on #157
Please try
 {
    useHash: false,
    initialNavigation: false
})

[2019-07-05 10:24] rafa-suagu opened #165 "Extra slash translating root route"
**I'm submitting a ...**
[code]

### Description

When the root route is translated the result is `/lang/` but should be `/lang` to have the same behaviour on all routes. Translating the `/test` route the result is `/lang/test`

## 🔬 Minimal Reproduction (if applicable)
APP -> https://extra-slash-root-route.stackblitz.io
EDITOR -> https://stackblitz.com/edit/extra-slash-root-route

## 🌍  Your Envi

[2019-07-09 19:53] gilsdav commented on #164
@kamilchlebek ngx-translate-router is now compatible AOT and Universal on Angular 8 with the version 2.0.1

[2019-07-10 07:47] kamilchlebek commented on #164
Thank you, I'll check it out

[2019-07-18 13:31] fess-v commented on #157
https://medium.com/@fessbespalov/enabling-initialnavigation-with-localizerouter-and-angular-universal-8d514f1faad9
I had the same problem and wrote an article when solved, mb it'll help someone :)

[2019-07-18 13:36] Ismaestro commented on #157
sure it does, thanks @vladlensky !

[2019-07-22 06:21] SolveWithShri commented on #150
Thanks @gilsdav For the support :)

As mentioned by @hohler that its working, i am closing the issue.

[2019-07-22 06:21] #150 closed

[2019-07-26 14:27] azhararmar commented on #140
I was stuck with this issue when switching the route with parameters, such as `listing-details/:id`

When I use just the `this.localize.changeLanguage(locale);` for a url `/ar/listing-details/7` it construct and redirect me to invalid URL `en/listing-details%2F7;id=7`, the expected URL redirect was `/en/listing-details/7` which didn't happen.

Hence in my switch locale function, I decided to manua

[2019-07-26 15:04] azhararmar commented on #140
I was excited it worked. Upon further testing it is still an issue, in some cases it still produces the same URL and in most cases it doesn't ...

[2019-08-12 15:34] mateobelanger commented on #164
Any updates on this?

[2019-08-12 15:36] kamilchlebek commented on #164
Yes it's all good now. `2.0.1` works for AOT and JIT

[2019-08-29 15:04] coolwoc commented on #45
Hi @meeroslav !
Your pluging works awesome.
I am working on localize-router version: "^2.0.0-RC.3" ( angular/core: 7.0.0 )
Everything works as implemented and explained at the top of this threat ( lazyLoadChild )
But I change language and reload the page -- I get redirect to home page.
Is there any fix for this? Or work around? Thanks.

[2019-08-30 12:05] coolwoc opened #166 "LazyLoad Child Componenter onPage Refresh re-directs:Home Page"
**I'm submitting a ...**  (check one with "x")
[code]

### Description
I have an application with two languages TR/EN
1. The app get browser settings for Language Selection by default on Load.
2. I have a lazyload with children componentes
3. I get translate url parameter correctly
4. We go to the children component level
5. We change language selector from en --> tr (  which is not the browser se

[2019-08-30 13:27] coolwoc commented on #166
I found the issue -- The problem was in the logic of the app.component.

[2019-08-30 13:27] #166 closed, assigned to nobody

[2019-09-12 20:04] BruneXX opened #167 "Unhandled promise rejection"
**I'm submitting a ...**  (check one with "x")
[code]

### Description
I've downloaded the demo of localized-router to check the configuration, I've reviewed a lot and after my configuration I'm receiving this error:

[code]

I saw that in demo you're using angular **6** could this be an issue related to angular 8? thanks

## 🌍  Your Environment

**Angular Version: 8.2.5**

**Localize Router Versi

[2019-09-13 10:17] JLDRM opened #168 "Custom Cookies expiration"
**I'm submitting a
[code]

### Description

#### I don't know if this is a Support request or a Feature Request:

I'm under a business requirement that demands a custom cookie expiration. I searched for an option in LocalizeParser class to customize the COOKIE_EXPIRY variable declared in localize-router.parser.js. I'm using the language detection of the LocalizParser, the cookies option, with the

[2019-09-13 18:50] BruneXX commented on #167
Hi new update:

I've managed to solve this, but now I'm experiencing no errors on compílation, but when I'm trying to access to the app I'm receiving the following **error** in the node console..

`ERROR [Error]`

So that's all.. there's no error description just that, any ideas what can be happening here?

[2019-09-13 19:04] BruneXX commented on #167
well, I went a little further and found that it seems to be a problem with createTranslateLoader funciton but I'm not 100% sure, I've reviewed an old angular repo https://github.com/gilsdav/angular-universal-localize-router

and there's seems to be using a ManualParserLoader that apparently works.. so at least the app is up and running using that loader instead of the createTranslateLoader

If som

[2019-09-14 14:05] BruneXX commented on #164
Hi Guys, can anyone give me an example that how should work this in node?
I've  mean, the configuration for the browser.module it's fairly OK, but in the server side it seems not complete at all, I've reviewed a lot of outdated repos using this localize-route and others but it doesn't seem to work on compilation.
Please if anyone has a better example of how should work this in server side please s

[2019-09-14 14:06] BruneXX commented on #145
Hi Guys, can anyone give me an example that how should work this in node?
I've mean, the configuration for the browser.module it's fairly OK, but in the server side it seems not complete at all, I've reviewed a lot of outdated repos using this localize-route and others but it doesn't seem to work on compilation.
Please if anyone has a better example of how should work this in server side please sh

[2019-09-14 14:11] BruneXX commented on #111
Hi @gilsdav I'hve wondering how you managed to make it work the repo https://github.com/gilsdav/angular-universal-localize-router for universal? I've mean, are you setting universal configuration behind the scenes? because I don't see any loader for node server side in that repo, I've tried to set that with my current application and after a lots of error the only that I've got is ERROR [Error] is

[2019-09-14 18:08] gilsdav commented on #111
Hello @BruneXX ,

Everything related to universal is it these files:

- [package.json](https://github.com/gilsdav/angular-universal-localize-router/blob/master/package.json) all universal dependencies and usage of @gilsdav/ngx-translate-router (that is compatible with angular 8 and SSR). You will find all SSR build scripts too. The entry script is `npm run build:ssr`.
- [angular.json](https://gith

[2019-09-14 18:32] BruneXX commented on #111
OK, thanks for the quick reply @gilsdav ! I've some things, I saw that:

1) **LazyUniversalModuleLoaderProvider** is not longer used in app.server.module.ts, will be needed anyway?
2) It's mandatory to use webpack.server.config.js in order this to work? because I'm not doing anything of that, I'm just using the default provided in angular.json for deploy.
3) The **server.ts** that I'm using is the

[2019-09-14 18:44] BruneXX commented on #111
Also reviewing the PR, something that is not clear to me at all is this code that AFAIK should be in **server.ts**: (Please correct me if I am worng)

[code]

From where comes **ngApp**? I saw deeply in some other repo code, I think from this one: https://github.com/meeroslav/universal-localize-example/blob/master/src/server.ts, that is used as an aside function, but is that up to date? or should

[2019-09-14 19:55] gilsdav commented on #111
1. LazyUniversalModuleLoaderProvider is not needed anymore for Angular 8
2. `ng add @nguniversal/express-engine --clientProject ...` command creates the webpack file
3. I don't think there is something particularly for Localize.
4. relative url will not works on SSR so you have to implement a workaround for it. I prefer to use absolute url instead of other possibilities because we can quickly put

[2019-09-14 20:00] BruneXX commented on #111
Hi @gilsdav

1) OK great!
2) OK, I assume that's needed, right?
3) OK.
4) OK, I'll use full path from now

Errors:
1) I've just cloned the repo, then executed `npm install `and then `ng serve` just the usual..
2) OK

Yes, I've realized that, I'll need to use dynamic languages.

Yes, It finish the compilation and serve the app, but when I go to the browser and just access to localhost:4200 or whate

[2019-09-14 20:16] gilsdav commented on #111
@BruneXX
2. This is needed in most cases (example: deployment on cloud provider) because you can only drop files. Without webpack post build you must have npm on the server and include the dev package.json into the package to be able to install dependences. Otherwise the application will not works on server (but will works locally).

Errors:
1. Try with `npm start` to use the project instance of A

[2019-09-14 20:23] BruneXX commented on #111
@gilsdav About that, I'm using docker to get those things sorted, so may be that's not necessary. (I guess) because I've all dependencies needed inside the container.

Yes, I've also updated angular dependencies in package.json of your project, I'll give a try to discard that the error comes from there, but I'm pretty sure that is something related to the **server.ts** file I don't know why yet, b

[2019-09-14 20:33] gilsdav commented on #111
@BruneXX
You can check `const {AppServerModuleNgFactory, LAZY_MODULE_MAP} = require('./server/main');`.
The generated one (in my current CLI version) is `const {AppServerModuleNgFactory, LAZY_MODULE_MAP} = require('./dist/server/main');`

Check your `DIST_FOLDER` too. I don't have any reference to "dist" in my repos:
* https://github.com/gilsdav/aa-universal-workshop/blob/done/server.ts
* https://

[2019-09-14 21:50] BruneXX commented on #111
@gilsdav yep, I've realized about that too, but for me only works as is in: https://github.com/angular/universal-starter/blob/master/server.ts

[code]

I'll try to use that in your repo and check what happens.

PS: also another difference that I've found is that I'm not using `import 'reflect-metadata';` in my repo. But I think that will not affect at the current behavior.

[2019-09-15 05:46] BruneXX commented on #111
@gilsdav well well.. I've got the error :) something more explainatory I guess:

ERROR HttpErrorResponse {
headers:
HttpHeaders { normalizedNames: Map {}, lazyUpdate: null, headers: Map {} },
 status: 0,
 statusText: 'Unknown Error',
 url: 'http://localhost:4200/assets/locales/en.json',
 ok: false,
 name: 'HttpErrorResponse',
 message:
 'Http failure response for http://localhost:4200/assets/local

[2019-09-16 17:19] BruneXX commented on #111
Hi @gilsdav I've a question regarding the languages that are set in the url, so for example:
Is there a way in your package to set the language without add it in the url like this?
[code]

So I can set the route language at level component for example?

Thanks!

[2019-09-16 18:24] gilsdav commented on #111
Hi @BruneXX, I'm not sure I clearly see your goal but I will try to be the more complete.

#### Default lang
As you can see in the [documentation](https://github.com/gilsdav/ngx-translate-router#ngx-translate-integration), the default lang will be automaticaly set with this logic: `languageFromUrl || cachedLanguage || languageOfBrowser || firstLanguageFromConfig`.
So if you go to `https://{domain}

[2019-09-16 19:07] BruneXX commented on #111
Hi @gilsdav Great explanation! My main concern is to not use the prefix, but there's no way to totally remove the **/{lang}** from url, right?

I was wondering to do that, in order to use a **subdomain** instead of an url "**/{lang}**" something like:

[code]
but currently that's not possible since you told me in previous comment.

So may be we can report that as a new feature to improve (and may

[2019-09-16 20:25] BruneXX opened #169 "Children routes issue lazy load module"
**I'm submitting a ...**  (check one with "x")
[code]

### Description
I having an issue related to the child routes,
I've main module **app-routing.module.ts** importing the main routes like:

[code]

Then in the **auth.routes.ts**, I've the following:

[code]

then in **auth.module.ts**:

[code]

But trying to access to translated route, for example:

[code]

Instead of that I'm receiving the fo

[2019-09-17 02:06] BruneXX commented on #169
I've found a workaround, passing **ROUTES.parentRoute.childRoute** it works but not in all cases, for example in a route with params this is happening:

`/{lang}/{parentTranslatedOK}/{childNotTranslated}/{:id}`

`/es/mi-ruta-padre/**child-route**/1` <----- **child-route** is not translated to **spanish** in this example.

There's something that's not fully working here.

[2019-09-17 05:12] gilsdav commented on #169
@BruneXX Keep in mind this library (localize-router) doesn't currently support Angular 8.
The deprecated loadChildren syntax is no longer available if you are using my fork (ngx-translate-router).
`loadChildren: './components/auth/auth.module#AuthModule'`. Use new Angular 8 syntax: `loadChildren: import('./components/auth/auth.module').then(mod => mod.AuthModule')`

[2019-09-17 05:27] gilsdav commented on #111
@BruneXX
That's the deference between [Angular I18n](https://angular.io/guide/i18n) and ngx-translate.
- i18n: generate a dist by language to allow you to deploy it on deferent domains.
- ngx-translate: dynamic language loading to keep same domain.

localize-router and ngx-translate-router are only compatible with ngx-translate.

[2019-09-17 12:27] BruneXX commented on #169
Hi @gilsdav yesterday I've found an issue where you've proposed that, I've tried and it looks the same for me, also I've tried in your demo and I can see no changes in the current behavior, am I doing something wrong?

The syntax that I've tried, is exactly this: (that you proposed)
`loadChildren: () => import('./components/auth/auth.module').then((mod) => mod.AuthModule)`

So.. I've found other b

[2019-09-17 12:51] BruneXX commented on #169
PS: Also another thing that I'm wondering.. Is there a way to navigate to route in component? because using:

`this.router.navigate(['my-route/test', param]); `

or any other navigate result in:

[code]

also, I've used:

[code]

With the same error.

[2019-09-18 19:20] gilsdav commented on #169
@BruneXX
If you don't specify it's a root path, the lib will not add lang.
You probably have to use: `const translatedPath = this.localize.translateRoute('/my-route/test') as string;`

For the rest it's not possible to give you a diagnostic without seeing all your routes.
You can check all these working routes: https://github.com/gilsdav/ngx-translate-router/blob/master/src/app/app-routing.module.

[2019-09-26 10:35] Tyranwyn commented on #167
I'm having the same problem when accessing localhost:4200.

    at new LocalizeRouterConfigLoader (:4200/vendor.js:176186)
    at _createClass (:4200/vendor.js:91249)
    at _createProviderInstance (:4200/vendor.js:91210)
    at initNgModule (:4200/vendor.js:91116)
    at new NgModuleRef_ (:4200/vendor.js:92226)
    at createNgModuleRef (:4200/vendor.js:92209)
    at Object.debugCreateNgModuleRef

[2019-09-26 12:49] Tyranwyn commented on #167
so, changing tsconfig.json target from esnext to es5 and module to es2015 fixed it for me.

[2019-09-26 13:10] BruneXX commented on #167
Hi @Tyranwyn are you using Angular Universal too?

[2019-09-27 07:12] timmyrosen commented on #45
Are there any updates on this? I'm having the same issue aswell.

Here is my lazy loaded module routing:

[code]

My first child route with the empty path (ReservationsModule) gets loaded correctly, but the second path "profile" does not. It redirects to the home page.

Here is my lazy loaded module:

[code]

[2019-09-27 07:21] coolwoc commented on #45
@timmyrosen I did make it work.
Your code seems good to me at the first glaze.
Have you tried loadChild Components like
`loadChildren: './core/site/static/static.module#StaticModule' `
( can you try this to check! )

[2019-09-27 07:27] rafa-suagu commented on #45
@timmyrosen This library seems to be dead, we have tried all the suggested fixes in this library but none works. We already migrated to https://github.com/gilsdav/ngx-translate-router and everything works like a charm with a good maintainer support.

Also works completely with Angular Universal.

[2019-10-02 08:47] Tyranwyn commented on #167
No I am not

[2019-12-09 09:41] martinvano commented on #163
any update on this issue? We are experiencing similar symptoms, very often CSR & SSR behavior is not consistent so I am trying to figure what's up before I open a new issue

[2020-01-03 10:53] pixelatorz commented on #154
I found a solution, what I did previously is making routes like this and it resulted into errors when trying to change the language.
` {
   path: 'rewards',
  component: RewardOverviewComponent,
},
{
   path: 'rewards/:id',
  component: RewardDetailComponent,
},
`
however when you build your routes like this:

`{
        path: 'rewards',
        children: [
          {
            path: '',

[2020-01-09 07:44] DavidCMeier opened #171 "Problem with Initial Navigation in RouterModule"
**I'm submitting a ...**  (check one with "x")
[code]

### Description

When we use InitialNavigation: 'enabled' our routings (without using universal) doesn't work. Just work with Universal.

## 🔬 Minimal Reproduction (if applicable)

app-routing.module.ts
[code]

## 🌍  Your Environment

**Angular Version:**
<pre><code>
Angular CLI: 8.0.1
Node: 12.13.0
OS: darwin x64
Angular: 8.0.0
... animations

[2020-01-09 09:48] DavidCMeier commented on #171
Ok, I know that is not a perfect solution but...

[code]

With that code into the class of the Module, depends if we have the data into transferState or not we can modify the config.

[2020-01-15 11:59] ntopulos commented on #154
Same issue here. The suggestion of children routes is unfortunately not suitable in all situations.

[2020-01-20 21:47] hymenoby commented on #45
Hello,
Is there any fix for this problem yet ?

[2020-01-21 01:41] ProfessorManhattan commented on #45
@hymenoby

IIRC, I could only get it working by specifying a path for everything.
This configuration is working for me:

[code]
And the package.json is here:
[code]

[2020-01-21 11:21] hymenoby commented on #45
@ProfessorManhattan This do not work in my project, i am on angular 8 and i use angular-universal for SSR , the app works fine if i dont set the initial navigation to true, bu when i do, if i try to access directly to any page other than the root page i get a route not found error

here is my package.json
[code]

[2020-01-21 11:22] hymenoby commented on #157
@vladlensky  This does not work in  my project, when i try try to access directly any page other than the root page, i get a route not found error, do you have a workaround?

[2020-01-21 12:16] rafa-suagu commented on #45
@ProfessorManhattan @hymenoby check my previous comment: https://github.com/Greentube/localize-router/issues/45#issuecomment-535825293

I encourage you to migrate ASAP. This project seems to be dead and doesn't work for sure with SSR and lazy load nested routes.

[2020-01-21 14:06] hymenoby commented on #171
@DavidCMeier , i have the same problem, can you please explain me how your solution works so i can try to use it?

[2020-01-21 16:47] hymenoby commented on #45
@ProfessorManhattan Thanks, i will try with https://github.com/gilsdav/ngx-translate-router as you said

[2020-01-23 12:03] DavidCMeier commented on #171
hi @hymenoby of course.

When the constructor initialize we inject the ROUTER_CONFIGURATION token and if i have the KEY into the transferState is because we are on server (because we set the key on app.server.module.ts).

So if this is right, we modify the initiaNavigation to 'enable'.

Of course, probably yo can do that:

[code]

[2020-01-26 15:55] chiqui3d opened #172 "LocalizeRouterModule.forRoot returns a ModuleWithProviders type without a generic type argument"
**I'm submitting a ...**
[code]

### Full Error

[code]

## 🌍 Your Environment

**Angular Version:**
<pre><code>
~9.0.0-rc.8
</code></pre>

**Localize Router Version:**
<pre><code>
"localize-router": "^2.0.0-RC.3",
"localize-router-http-loader": "^1.0.2",
</code></pre>

**app-routing.module.ts**

<pre><code>
import { NgModule } from '@angular/core';
import { RouterModule, Routes } from '@angular/r

[2020-02-16 10:51] Bozonych commented on #172
I have the same problem

[2020-02-28 09:47] materazu commented on #172
Same here

[2020-03-02 22:13] ghost commented on #172
Same here

[2020-03-07 15:52] skyquartam commented on #172
Same here

[2020-03-12 11:41] ottodranik commented on #172
Can someone fix it for a compatibility with INY and Angular 9?

Here is a PR about that https://github.com/Greentube/localize-router/pull/174

Maybe it needed to fix the yaml file for CI and replace node v8 with node v12 to make this PR successful?

[2020-03-17 14:49] marcgeurts commented on #172
Same here

[2020-03-22 16:58] sleepychaman commented on #172
same here

[2020-03-24 15:26] mehmetatacan commented on #172
same here

[2020-03-25 07:54] elvenbyte commented on #172
please, solv this asap, can't go on :-(

[2020-03-25 16:39] fess-v commented on #172
Just disable ivy in tsconfig.app.json (and in tsconfig.server.json if you use Angular Universal)
`"angularCompilerOptions": {
    "enableIvy": false
  },`
Not all the main libraries already support Ivy, so the only solution to disable it
Hope, it helps

[2020-03-25 21:23] gilsdav commented on #172
Or use fork that is compatible with Angular 9
https://github.com/gilsdav/ngx-translate-router

[2020-03-26 07:53] elvenbyte commented on #172
Thanx a lot, but it doesn't help. I'm working with iv class, so I need to use Ivy, 'cause I'm working with an already done project, but thanks anyway.

[2020-03-26 08:13] elvenbyte commented on #172
It didn't work either, even installing version 3, recommended for angular 8/9.

[2020-03-26 08:14] elvenbyte commented on #172
I supposed we must wait for it. It should be ready in some days, I hope.

[2020-03-26 10:23] gilsdav commented on #172
@elvenbyte I have no known issues with Angular 9 (official release, not RC) and node 12.
You can check that my demo have Ivy enabled.
What type of errors do you have ?

[2020-03-31 11:52] elvenbyte commented on #172
ERROR in node_modules/localize-router/src/localize-router.module.d.ts:33:68 - error NG6005: LocalizeRouterModule.forRoot returns a ModuleWithProviders type without a generic type argument. Please add a generic type argument
to the ModuleWithProviders type. If this occurrence is in library code you don't control, please contact the library authors.

[2020-04-09 07:44] saharati commented on #172
Any news?

[2020-04-09 08:03] chiqui3d commented on #172
I have migrated to Nextjs https://github.com/zeit/next.js/

[2020-07-04 05:24] clk0115 commented on #172
Please check this https://github.com/gilsdav/ngx-translate-router. it may help.

[2020-07-24 13:40] neverlose-lv commented on #99
up

[2020-08-29 15:15] #165 closed, assigned to nobody

[2020-12-12 11:32] tycoonm commented on #172
Looks like the project is dead. There are no release since January.

[2021-03-08 07:46] DavidCMeier commented on #171
Because this repo es abbandoned i close the Issue. If anybody need continue using I recomend looking for a fork like https://github.com/gilsdav/localize-router

[2021-03-08 07:46] #171 closed, assigned to nobody